{% load i18n %}
{% load static %}

<div class="row">
    <div class="space-6"></div>
    <div class="col-xs-12">
        <div class="page-header">
            <h1>{% trans "LDAP服务器配置" %}</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" role="form" name="form_select" action="" method="POST">
            {% csrf_token %}
            <table class="table table-bordered table-striped">
                <tr>
                    <td><label class="control-label no-padding-right" for="id_srvtype" > {% trans "服务器类型 " %}</label></td>
                    <td>
                        <select class="col-xs-10 col-sm-4" id="id_srvtype" name="srvtype" onchange="onchangeTypeOptions(this.value)">
                            <option value="ad" {% if form.srvtype.value == "ad" %} selected {% endif %} > Microsoft Active {% trans "Directory同步(LDAP服务器配置) " %}</option>
                            <option value="ldap" {% if form.srvtype.value == "ldap" %} selected {% endif %} > LDAP {% trans "服务器同步 " %}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label no-padding-right" for="id_address" id="id_address" > {% trans "服务器地址 " %}</label></td>
                    <td>
                        <input type="text" name="address" id="id_address"
                               value="{{ form.address.value }}" class="col-xs-10 col-sm-4"/>
                        {% if form.address.error %}
                        <div style="clear: both"><p class="errornote txt-color-red">{{ form.address.error }}</p></div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label no-padding-right" for="id_port" id="id_port" > {% trans "端口 " %}</label></td>
                    <td>
                        <input type="number" name="port" id="id_port"
                               value="{{ form.port.value }}" class="col-xs-10 col-sm-4"/>
                        {% if form.port.error %}
                        <div style="clear: both"><p class="errornote txt-color-red">{{ form.port.error }}</p></div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label no-padding-right" for="id_username" id="id_username" > {% trans "登录帐号 " %}</label></td>
                    <td>
                        <input type="text" name="username" id="id_username"
                               value="{{ form.username.value }}" class="col-xs-10 col-sm-4"/>
                        {% if form.username.error %}
                        <div style="clear: both"><p class="errornote txt-color-red">{{ form.username.error }}</p></div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label no-padding-right" for="id_password" id="id_password" > {% trans "登录密码 " %}</label></td>
                    <td>
                        <input type="password" name="password" id="id_password"
                               value="{{ form.password.value }}" class="col-xs-10 col-sm-4"/>
                        {% if form.password.error %}
                        <div style="clear: both"><p class="errornote txt-color-red">{{ form.password.error }}</p></div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label no-padding-right" for="id_basedn" id="id_basedn" > {% trans "搜索路径 " %}</label></td>
                    <td>
                        <input type="text" name="basedn" id="id_basedn"
                               value="{{ form.basedn.value }}" class="col-xs-10 col-sm-4"/>
                        {% if form.basedn.error %}
                        <div style="clear: both"><p class="errornote txt-color-red">{{ form.basedn.error }}</p></div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label no-padding-right" for="id_ou" id="id_ou" > {% trans "部门规则 " %}</label></td>
                    <td>
                        <input type="text" name="ou" id="id_ou"
                               value="{{ form.ou.value }}" class="col-xs-10 col-sm-4"/>
                        {% if form.ou.error %}
                        <div style="clear: both"><p class="errornote txt-color-red">{{ form.ou.error }}</p></div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label no-padding-right" for="id_auto_sync" id="id_auto_sync" > {% trans "开启定期自动同步 " %}</label></td>
                    <td>
                        <label class="radio radio-inline padding-top-0 margin-top-0 form-inline">
                            <label>
                                <input type="radio" name="sw_ldap" value="1" {% if form.sw_ldap.value == '1'  %} checked="" {% endif %}><span>{% trans "开启" %}</span>
                            </label>
                            <label>
                                <input type="radio" name="sw_ldap" value="-1" {% if form.sw_ldap.value != '1'  %} checked="" {% endif %}><span>{% trans "关闭" %}</span>
                            </label>
                            {% if form.sw_ldap.error %}
                            <div style="clear: both"><p class="errornote txt-color-red">{{ form.sw_ldap.error }}</p></div>
                            {% endif %}
                        </label>
                    </td>
                </tr>
            </table>

            <div class="clearfix form-actions">
                <div>
                <input type="hidden" value="{{ domain.id }}" name="domain_id" id="domain_id" />
                </div>
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        {% trans "保存" %}
                    </button>
                    <button class="btn btn-info" type="button" onclick="onclickTaskButton()">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        {% trans "手动同步帐号" %}
                    </button>
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        {% trans "重置" %}
                    </button>

                </div>
            </div>
        </form>

    </div><!-- /.span -->
</div><!-- /.row -->
