{% load i18n %}
{% load static %}

<div class="row">
    <div class="col-xs-12" style="margin-right:10px;">
        <a  class="btn btn-primary pull-left bottem" href="{% url 'ldap_adlist_add' %}">{% trans "添加帐号" %}</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <form id="id_form" action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" id="id" />
            <input type="hidden" name="status" id="status" />
            <input type="hidden" name="ids" id="ids" />
        </form>
        <table id="ajax-table" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th width="4%">{% trans "序号" %}</th>
                <th>{% trans "优先级" %}</th>
                <th>{% trans "服务器域名" %}</th>
                <th>{% trans "服务器地址" %}</th>
                <th>{% trans "服务器端口" %}</th>
                <th>{% trans "登录帐号" %}</th>
                <th>{% trans "部门规则" %}</th>
                <th>{% trans "创建帐号属性" %}</th>
                <th>{% trans "创建部门属性" %}</th>
                <th>{% trans "备注" %}</th>
                <th>{% trans "状态" %}</th>
                <th>{% trans "操作" %}</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>