{% load i18n %}
{% load static %}

{% block page-content %}
    <div class="row">
        <div class="col-lg-12"><h1 class="page-header">{% trans "批量添加" %}</h1></div>
    </div>
    <div class="row">
    <form role="form" action="" method="post">
        <div class="col-sm-8">
                {% csrf_token %}
                <div class="form-group">
                    <div class=" ">
                        <textarea name="addresses" id="id_addresses" rows="10" cols="40" class=" form-control"></textarea>
                        <p class="help-block">
                           <span class="text-success">{% trans "每行的格式如下: " %}<br>
                             <span style="color:blue"> {% trans "'通道类型'   '本地帐号'   '远程登录帐号'  '远程服务器地址' '密码'    'SSL方式登录' </span> 之间用'TAB'符号隔开，单次最多只允许插入1000条数据：" %}<br>
                               {% trans "批量插入的数据，不会验证输入的密码是否有效：" %}<br>
                               {% trans "必须填写 " %}<span style="color:blue"> {% trans "'通道类型'   '本地帐号'、'远程登录帐号','远程服务器地址','密码' ：" %} </span><br>
                                <span style="color:blue">{% trans "'SSL方式登录'" %} </span> {% trans "可不填，默认不启用：该列值为1时代表需要SSL登录，其它值或空代表不使用。" %}<br>
                                {% trans "举例：" %}<br>
                               </span>
                            <textarea style="word-break: normal;width: 800px;" rows="3">
{% trans "接收邮件    local1" %}@local2.com    remote1@remote.com  remote.com  remote_password1    0
{% trans "发送邮件    local2" %}@local3.com    remote2@remote.com  remote.com  remote_password2    1
{% trans "所有邮件    local2" %}@local4.com    remote2@remote.com  remote.com  remote_password2    1</textarea>
                        </p>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-sm">{% trans "确认" %}</button>
                <button class="btn btn-sm" type="reset">{% trans "重置" %}</button>
                <button type="button" class="btn btn-link btn-sm" onclick="location.href='{% url 'mail_transfer' %}'">{% trans "取消" %}</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}
{% block css_block %}
{% endblock %}
{% block my_jsblock %}
    <script>
        $(function(){
            var path = "{% url 'mail_transfer' %}";
            $('#sidebar').find('[href="'+path+'"]').parent().first().addClass('active');
        });

    </script>

{% endblock %}
