<td>{{ number }}</td>
<td>{{ d.domain }}</td>
<td>{{ form.cf_limit_mailbox_cnt.value }}</td>
<td>{{ form.cf_limit_mailbox_size.value }}</td>
<td>
    {% if form.domainDisabled.value == '1' %}
        <span class="label label-xlg label-light arrowed-in arrowed-in-right">禁用</span>
    {% else %}
        <span class="label label-xlg label-success arrowed-in arrowed-in-right">启用</span>
    {% endif %}
</td>
<td>
    {% if form.domainWechatHost.value == '1' %}
        <span class="label label-xlg label-success arrowed-in arrowed-in-right">是</span>
    {% else %}
        <span class="label label-xlg label-light arrowed-in arrowed-in-right">否</span>
    {% endif %}
</td>
<td>
    <a type="button" class="green btn btn-white btn-primary btn-xs" onclick="openModifyWindow({{ d.id }},'mdf')">配置</a>
    <a type="button" class="blue btn btn-white btn-success btn-xs" onclick="openDkimWindow({{ d.id }})">DKIM配置</a>
    <a type="button" class="red delete btn btn-white btn-danger btn-xs" href="Javascript: Delete({{ d.id }}, '{{ d.domain }}')">删除</a>
</td>
