{% load i18n %}
<div id="sign">
    <div id="sub_sign_tabs">
        <ul>
            <li>
                <a href="#sub_sign_content" onclick="clickSubTab('')">{% trans "域签名" %}</a>
            </li>
            <li>
                <a href="#sub_sign_template" onclick="clickSubTab('personal')">{% trans "个人签名模板" %}</a>
            </li>
        </ul>
        <div id="sub_sign_content">
            <div class="table-header">
                {% trans "域签名设置" %}
            </div>
            <div>
                <form class="form-horizontal form_domain">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans "超文本签名：" %}</label>
                        <div class="col-sm-10">
                            <div class="wysiwyg-editor" id="editor2"> {{ form_domain.content_html }} </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans "纯文本签名：" %}</label>
                        <div class="col-sm-10">
                            <textarea name="content_text" class="form-control" rows="10"> {{ form_domain.content_text }} </textarea>
                        </div>
                    </div>
                    <div class="modal-footer center">
                        <button type="button" class="btn btn-success" onclick="clickSubmitButton('domain_sign','form_domain')">{% trans "提交" %}</button>
                        <button type="button"  class="btn btn-warning">{% trans "重置" %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="sub_sign_template">
            <div class="table-header">{% trans "个人签名模板" %}</div>
            <div>
                <form class="form-horizontal form_personal">
                    {% csrf_token %}
                <table class="table table-bordered table-striped">
                    <tr>
                        <td style="width:140px;">{% trans "新邮件默认签名" %}</td>
                        <td>
                            <label class="inline" >
                                <input name="personal_sign_new" value="1" {% if form_personal.personal_sign_new == "1" %} checked {% endif %} type="checkbox" class="ace ace-switch ace-switch-5">
                                <span class="lbl middle"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "回复/转发默认签名" %}</td>
                        <td>
                            <label class="inline" >
                                <input name="personal_sign_forward" value="1" {% if form_personal.personal_sign_forward == "1" %} checked {% endif %}  type="checkbox" class="ace ace-switch ace-switch-5">
                                <span class="lbl middle"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "新用户自动应用模板" %}</td>
                        <td>
                            <label class="inline" >
                                <input name="personal_sign_auto" value="1" {% if form_personal.personal_sign_auto == "1" %} checked {% endif %}  type="checkbox" class="ace ace-switch ace-switch-5">
                                <span class="lbl middle"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "签名模板" %}</td>
                        <td>
                            <!-- <div class="wysiwyg-editor" id="editor_sign">
                            </div> -->
                            <textarea id="editor_id" name="content" style="width:100%;height:300px;">

                            </textarea>
                            <div class="widget-toolbox padding-4  admin_setted center">
                                <button type="button" class="btn btn-info" onclick="clickSubmitButton('personal_sign','form_personal')">
                                    <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                                    {% trans "保存但不应用" %}
                                </button>
                                <button type="button" class="btn btn-success" onclick="clickSubmitButton('personal_sign_apply','form_personal')">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    {% trans "保存并应用到域名下所有帐号" %}
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    {% trans "重置" %}
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

    /*
    items:['source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
                'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink', '|', 'about']
            };
            */
    var options = {
            filterMode : false,
            uploadJson:"{% url 'ajax_domainSignPicTransform' %}",
            items:['source', '|', 'undo', 'redo', '|', 'cut', 'copy', 'paste','wordpaste','|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                'flash', 'media', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak', 'link', 'unlink', '|', 'about']
            };

    $('#sub_sign_tabs').tabs();
    var editor;
    //$('#editor2').html(editor2_content);
    //$('#editor_sign').html(editor_sign_content);
    //initEditor('#editor2');
    //initEditor('#editor_sign');
    $.ajax({
        url:" {% url 'ajax_domainSignPersonal' %}",
        type:'POST',
        success:function(data){
            console.log("data.data== "+data.data);
            $('#editor_sign').html(data.data);
            initEditor('#editor_sign');
            $('#editor_id').html(data.data);
            KindEditor.ready(function(K) {
                editor = K.create('#editor_id', options);
            });

        }
    })
    $.ajax({
        url:" {% url 'ajax_domainSignDomain' %}",
        type:'POST',
        success:function(data){
            console.log("data.data== "+data.data);
            $('#editor2').html(data.data.html);
            initEditor('#editor2');
        }
    })
    $.ajax({
        url:" {% url 'ajax_domainSignDomain' %}",
        type:'POST',
        success:function(data){
            console.log("data.data== "+data.data);
        }
    })

    function clickSubmitButton(action, form_name){
        var str = $("."+form_name).serialize();
        var data = str;
        if(action=='domain_sign'){
            content = $("#editor2").html();
            content = encodeURIComponent(content);
            data = data + '&action=domain_sign&content_html='+content;
        }else{
            // content = $("#editor_sign").html();
            // content = encodeURIComponent(content);
            editor.sync();
            let content = ''
            content =  $('#editor_id').val();
            content = encodeURIComponent(content);
            console.log(content)

            data = data + '&action=' + action + '&content_html='+content;
        }
        $.ajax({
            url:"{% url 'domain_sign' %}",
            type:"POST",
            data:data,
            success:function(data){
                $('#domain_sign').html('<div>{% trans "保存中..." %}</div>');
                                setTimeout(function(){
                                    $('#domain_sign').html(data);
                                },100)
            }
        })
    }

    function clickSubTab(key){
        console.log("clickSubTab   "+key);
        $("#id_remark_flag").val('sign');
        $("#id_remark_flag2").val(key);
        get_remark_base();
    }

</script>