{% load i18n %}
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{% trans "批量导入客户" %}</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-block alert-warning">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>

            <p><strong class="red">
                {% trans "注：" %}
            </strong>{% trans "一行为一个客户，每一行的格式为" %}"{% trans "客户名称;邮件地址;联系电话;客户分组;备注;生日;性别;工作电话;家庭电话;QQ;MSN" %}"，{% trans "各字段间用" %}";"{% trans "或者" %}"TAB"{% trans "制表符分隔" %}
                {% trans "性别说明：" %}"M"{% trans "表示男," %}"F"{% trans "表示女" %}</p>
            <p class="red">eg：</p>
            <p>lihong;lh@domain.com;444444;catrogname;des;1980-04-24;F;tel;home tel;QQ;MSN</p>
            {% for data in form.import_error %}
                <p><strong class="red"> {% trans "插入错误： " %}{{ data }} </p>
            {% endfor %}
        </div>
        <form class="form-horizontal form_import_add">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="import_data" rows="15" class="form-control"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer center">
        <button type="button" class="btn btn-sm btn-info" onclick="clickDomainPublicSave('import_add','form_import_add')">{% trans "保存" %}</button>
        <button type="button" class="btn btn-sm btn-danger" onclick="backDomainPublic()">{% trans "返回" %}</button>
    </div>
</div>