{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "LDAP/AD域同步设置" %}{% endblock %}

{% block breadcrumb %}
    <li> <a href="#">{% trans "LDAP/AD域同步设置" %}</a> </li>
    <li class="active">{% trans "LDAP/AD域同步设置" %}</li>
{% endblock %}

{% block page-content %}

    <div class="row">
        <div class="space-6"></div>
        <div class="col-xs-6">
        <div class="page-header">
            <h1>
                {% trans "LDAP/AD域同步设置" %}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    {% trans "LDAP/AD域同步设置" %}
                </small>
            </h1>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li>
                        <a href="{% url 'ldap_setting' %}">
                            <i class="green ace-icon fa fa-home bigger-120"></i>{% trans "LDAP/AD域同步设置" %}
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="green ace-icon fa bigger-120"></i>{% trans "AD域帐号列表" %}
                        </a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        {% include 'setting/include/ldap_admodify.html' %}
                    </div>
                </div>

                <div>
                <input type="hidden" value="{{ domain.domain }}" name="id_selectdomain" id="id_selectdomain" />
                </div>

            </div>
        </div>
    </div>

{% endblock %}
