{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% if form.instance %} {% trans "修改邮箱监控" %}  {% else %} {% trans "添加邮箱监控" %} {% endif %}{% endblock %}

{% block breadcrumb %}
    <li> <a href="#">{% trans "功能设置" %}</a> </li>
    <li> <a href="#">{% trans "邮箱监控管理" %}</a> </li>
    <li class="active">{% if form.instance %} {% trans "修改邮箱监控" %}  {% else %} {% trans "添加邮箱监控" %} {% endif %}</li>
{% endblock %}

{% block page-content %}

    <div class="row">
        <div class="space-6"></div>
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{% if form.instance %} {% trans "修改邮箱监控" %}  {% else %} {% trans "添加邮箱监控" %} {% endif %}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" action="" method="POST">
                {% csrf_token %}
                <div class="form-group {% if form.listen_type.error %} has-error {% endif %}">
                    <label class="col-sm-3 control-label no-padding-right" for="id_listen_type"> {% trans "选择监控类型 " %}</label>
                    <div class="col-sm-9">
                        <div class="col-sm-12">
                            <select class="col-xs-10 col-sm-5" id="id_listen_type" name="listen_type" onchange="onchangeListenType(this.value)">
                                {% for k,v in form.PARAM_LISTEN_TYPE.items %}
                                    <option value="{{ k }}" {% if form.listen_type.value == k %} selected {% endif %} > {{ v }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if form.listen_type.error %}
                            <div style="clear: both"><p class="errornote txt-color-red" style="margin-left: 25px;">{{ form.listen_type.error }}</p></div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group {% if form.target_type.error %} has-error {% endif %}">
                    <label class="col-sm-3 control-label no-padding-right" for="id_target_type"> {% trans "选择监控通道 " %}</label>
                    <div class="col-sm-9">
                        <div class="col-sm-12">
                            <select class="col-xs-10 col-sm-5" id="id_target_type" name="target_type">
                                {% for k,v in form.PARAM_TARGET_TYPE.items %}
                                    <option value="{{ k }}" {% if form.target_type.value == k %} selected {% endif %} > {{ v }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if form.target_type.error %}
                            <div style="clear: both"><p class="errornote txt-color-red" style="margin-left: 25px;">{{ form.target_type.error }}</p></div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group {% if form.target.error %} has-error {% endif %}">
                    <label class="col-sm-3 control-label no-padding-right" for="id_target"> {% trans "监控邮箱 " %}</label>
                    <div class="col-sm-9">
                        <div class="col-sm-12">
                            <input type="text" maxlength="200" id="id_target" name="target" value="{{ form.target.value }}" class="col-xs-10 col-sm-5"/>
                        </div>
                        {% if form.target.error %}
                            <div style="clear: both"><p class="errornote txt-color-red" style="margin-left: 25px;">{{ form.target.error }}</p></div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group {% if form.target_dept.error %} has-error {% endif %}">
                    <label class="col-sm-3 control-label no-padding-right" for="id_target_dept"> {% trans "监控部门 " %}</label>
                    <div class="col-sm-9">
                        <div class="col-sm-12">
                            <input type="hidden" value="{{ form.target_dept.value }}" id="id_target_dept" name="target_dept">
                            <div class="col-xs-10 col-sm-5 no-padding-left">
                                <input type="text" class="col-xs-10 col-sm-5 no-padding-right" name="target_dept_name" id="id_target_dept_name" value="{{ form.target_dept.extra }}" readonly="readonly" onclick="Javascript: onclickDepart()"/>
                                <span class="input-group-btn col-xs-10 col-sm-5 no-padding-left">
                                    <a data-toggle="modal" data-target="#MyReviwModal" data-whatever=""
                                       href="#" class="btn btn-sm btn-default" type="button" title="选择部门" id="id_department_model">
                                        <i class="ace-icon fa fa-users bigger-110 green"></i>{% trans "选择" %}
                                    </a>
                                     <a class="btn btn-sm btn-grey" type="button" title="{% trans "清空" %}部门" href="Javascript: clearDepart()">{% trans "清空" %}</a>
                                </span>
                                {% if form.target_dept.error %}
                                    <div style="clear: both"><p class="errornote txt-color-red" style="margin-left: 25px;">{{ form.target_dept.error }}</p></div>
                                {% endif %}
                            </div>
                        </div>
                        <div style="clear: both">
                            <span class="middle text-success ">
                            <li>
                            {% trans "“监控邮箱”、“监控部门”两者为“或”的逻辑关系" %}；
                            </li>
                            <li>
                            {% trans "若想监控整个部门，则“监控邮箱”可以为空。反之“监控部门”可为空。" %}
                            </li>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group {% if form.forward.error %} has-error {% endif %}">
                    <label class="col-sm-3 control-label no-padding-right" for="id_forward"> {% trans "接收邮箱 " %}</label>
                    <div class="col-sm-9">
                        <div class="col-sm-12">
                            <input type="text" maxlength="200" id="id_forward" name="forward" value="{{ form.forward.value }}" class="col-xs-10 col-sm-5" required/>
                        </div>
                        {% if form.forward.error %}
                            <div style="clear: both"><p class="errornote txt-color-red" style="margin-left: 25px;">{{ form.forward.error }}</p></div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group {% if form.listen_type.value != 'recipient'  %} display-none {% endif %}" id="id_monit_move_input">
                    <label class="col-sm-3 control-label no-padding-right" for="id_monit_move"> {% trans "邮件搬家(IMAP/POP3) " %}</label>
                    <div class="col-sm-9">
                        <label class="radio radio-inline padding-top-0 margin-top-0 form-inline">
                            <label>
                                <input type="radio" name="monit_move" value="-1" {% if form.monit_move.value == '-1' %} checked="" {% endif %}><span>{% trans "不监控" %}</span>
                            </label>
                            <label>
                                <input type="radio" name="monit_move" value="1" {% if form.monit_move.value != '-1' %} checked="" {% endif %}><span>{% trans "监控" %}</span>
                            </label>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="id_status"> {% trans "状态 " %}</label>
                    <div class="col-sm-9">
                        <label class="radio radio-inline padding-top-0 margin-top-0 form-inline">
                            <label>
                                <input type="radio" name="disabled" value="-1" {% if form.disabled.value == '-1'  %} checked="" {% endif %}><span>{% trans "启用" %}</span>
                            </label>
                            <label>
                                <input type="radio" name="disabled" value="1" {% if form.disabled.value != '-1'  %} checked="" {% endif %}><span>{% trans "禁用" %}</span>
                            </label>
                        </label>
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            {% trans "保存" %}
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            {% trans "重置" %}
                        </button>

                        <a type="button" class="btn btn-link" href="{% url 'monitor_mailbox' %}">{% trans "取消" %}</a>

                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="modal fade " id="MyReviwModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin:120px auto; width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{% trans "加载中" %}</h4>
                </div>
                <div class="modal-body">
                    {% trans "页面加载中" %}
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal_close" class="btn btn-default hidden" data-dismiss="modal">{% trans "关闭" %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block css_block %}
    <link rel="stylesheet" href="{% static 'otreetable1.0/otreetable.css' %}" />
{% endblock %}

{% block my_jsblock %}
<script type="text/javascript" src="{% static 'otreetable1.0/otreetable.js' %}"></script>

<script>

    $(function () {
            /** 模型弹出框 **/
            $('#MyReviwModal').on('show.bs.modal', function (event) {
                $(this).removeData('bs.modal');
            })
            $("#id_department_model").click(function(){
                var department_id = $("#id_target_dept").val();
                $("#id_department_model").attr('href', '{% url 'choose_department_list' %}?model_department_id=' + department_id);
            });
    });

    function onclickDepart() {
            $("#id_department_model").click();
        }

    function clearDepart(){
            $("#id_target_dept").val(-1);
            $("#id_target_dept_name").val("");
        }

    function onchangeListenType(value){
        if (value == 'recipient'){
            $("#id_monit_move_input").removeClass("display-none");
        }else{
            $("#id_monit_move_input").addClass("display-none");
        }
    }

</script>

{% endblock %}