{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}
{% block title %} {% trans "添加中继" %} {% endblock %}
{% block breadcrumb %}
    <li><a href="{% url 'relay_list' %}">{% trans "中继列表" %}</a> </li>
    <li class="active">{% trans "添加中继" %}</li>
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-lg-12"><h1 class="page-header">{% trans "添加中继" %}</h1></div>
    </div>

    <form role="form" action="" method="post"  >
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default"  style="margin-bottom: 0px!important;">
                    <div class="panel-heading">{% trans "添加中继" %}</div>
                    <div class="panel-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label  " for="id_ssl">{% trans "源邮件域" %}</label>
                            <div class=" ">
                                <input type="text" class="form-control" name="src_domain" value="{{ domain }}" readonly="">
                            </div>
                        </div>
                        {{ form.type|bootstrap }}
                        {{ form.dst_domain|bootstrap }}
                        {{ form.server|bootstrap }}
                        {{ form.disabled|bootstrap }}
                        <button type="submit" class="btn btn-primary btn-sm">{% trans "确认" %}</button>
                        <button class="btn btn-sm" type="reset">{% trans "重置" %}</button>
                        <button type="button" class="btn btn-link btn-sm" onclick="location.href='{% url 'relay_list' %}'">{% trans "取消" %}</button>

                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
{% block css_block %}
    <link href="{% static "components/datetimepiker/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
{% endblock %}
{% block my_jsblock %}
    <script src="{% static 'assets/js/jquery-ui.custom.js' %}" ></script>
    <script src="{% static 'assets/js/jquery.ui.touch-punch.js' %}" ></script>
    <script src="{% static 'assets/js/jquery-ui.js' %}" ></script>
    <script src="{% static "components/datetimepiker/bootstrap-datetimepicker.min.js" %}"></script>
    {% if request.COOKIES.webvue_language == 'zh-hans'  %}
        <script src="{% static "components/datetimepiker/bootstrap-datetimepicker.zh-CN.js" %}"></script>
    {% endif %}
    <script>
        $(function(){
            var path = "{% url 'relay_list' %}";
            $('#sidebar').find('[href="'+path+'"]').parent().first().addClass('active');
        });
    </script>
{% endblock %}
