{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "邮件统计报告" %}{% endblock %}
{% block breadcrumb %}
    <li> <a href="#">{% trans "日志/报告" %}</a> </li>
    <li class="">{% trans "邮件统计报告" %}</li>
    <li class="active">{% trans "邮件统计报告" %}</li>
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="space-2"></div>
        <div class="col-xs-6">
            <div class="page-header">
                <h1>{% trans "邮件统计报告" %}<small>
                    <i class="ace-icon fa fa-angle-double-right"></i>{% trans "邮件统计报告" %}</small></h1>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="pull-right" style="margin-right:30px;">
                <div class="button-group">
                    <button type="button"  class="btn btn-purple btn-sm" onClick="exportLog()">{% trans "导出统计报告" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <ul class="nav nav-tabs" id="myTab">
                <li>
                    <a href="{% url 'maillog' %}">
                        {% trans "按邮箱统计" %}
                    </a>
                </li>

                <li>
                    <a href="{% url 'maillog_user' %}">
                        {% trans "邮件收发统计" %}
                    </a>
                </li>

                <li class="active">
                    <a href="#">
                        <i class="green ace-icon fa fa-home bigger-120"></i>{% trans "邮件统计报告" %}
                    </a>
                </li>

                <!--<li>
                    <a href="{% url 'maillog_list' %}">
                        {% trans "邮件日志查询" %}
                    </a>
                </li>-->

            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active">
                    {% include 'rpt/include/maillog_stat.html' %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'components/_mod/jquery-ui.custom/jquery-ui.custom.css' %}" />
    <link href="{% static 'components/datatables/media/css/dataTables.bootstrap.css' %}">
    <link href="{% static "components/datetimepiker/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
{% endblock %}

{% block my_jsblock %}
    <script src="{% static 'components/datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'components/_mod/datatables/jquery.dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'components/_mod/jquery-ui.custom/jquery-ui.custom.js' %}"></script>
    <script src="{% static "components/datetimepiker/bootstrap-datetimepicker.min.js" %}"></script>
    {% if request.COOKIES.webvue_language == 'zh-hans'  %}
        <script src="{% static "components/datetimepiker/bootstrap-datetimepicker.zh-CN.js" %}"></script>
    {% endif %}
    <script>
        $(function(){
            var path = "{% url 'maillog' %}";
            $('#sidebar').find('[href="'+path+'"]').parent().first().addClass('active');
        });

        function exportLog(){
            window.location.href="{% url 'maillog_stat_export' %}" + window.location.search;
        }
    </script>
{% endblock %}
