<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">自动回复设置 -> {{ mailbox_obj.username }} -> 新增
        </h4>
    </div>
    <div class="widget-box widget-color-blue2 email_box_tree" id="tree_box" style="position:absolute;top:32px;z-index:10;min-width:60%;max-width:100%;left:0;">
        <button type="button" class="btn btn-danger btn-sm pull-right close_btn" >&times;</button>
        <div class="widget-body" style="padding-right:20px;">
            <div style="padding:20px  6px 0;">
                <input type="text" class="search_input form-control" placeholder="输入关键字搜索...">
            </div>
            <div class="widget-main padding-8" style="height:auto;max-height:360px;">
                <ul id="tree"></ul>
            </div>
        </div>
    </div>
    <div class="modal-body" style="overflow:auto;">
        <form id="form_autoreply" method="post" action="">
            <table class="table table-bordered">
                <tr>
                    <td>是否启用</td>
                    <td>
                        <label class="inline" >
                            <input name="disabled" checked  type="checkbox" class="ace ace-switch ace-switch-5">
                            <span class="lbl"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td style="width:110px;">自动回复条件：</td>
                    <td>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="logic" value="all" checked> 符合以下所有选中的条件
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="logic" value="one"> 符合以下任意一个选中条件
                            </label>
                        </div>
                        <div class="row list_item">
                            <div class="col-sm-3">
                                <select name="suboption" class="form-control suboption">
                                    <option label="所有邮件" value="all_mail"></option>
                                    <option label="有附件" value="has_attach"></option>
                                    <option label="附件名" value="attachments"></option>
                                    <option label="发信人" value="sender"></option>
                                    <option label="抄送人" value="cc"></option>
                                    <option label="收信人" value="recipient"></option>
                                    <option label="发信人部门" value="sender_dept"></option>
                                    <option label="抄送人部门" value="cc_dept"></option>
                                    <option label="收信人部门" value="rcpt_dept"></option>
                                    <option label="主题" value="subject"></option>
                                    <option label="邮件内容" value="body"></option>
                                    <option label="邮件大小(MB)" value="mail_size"></option>
                                    <option label="邮件大小(Byte)" value="mail_size2"></option>
                                    <option label="邮件正文大小(Byte)" value="content_size"></option>
                                    <option label="执行时间" value="exec_date"></option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select name="action" class="form-control contains" v-if="c.suboption=='attachments'||c.suboption=='sender'||c.suboption=='cc'||c.suboption=='recipient'||c.suboption=='subject'||c.suboption=='body'||c.suboption=='header_received'" placeholder="请选择" style="width:100%">
                                    <option label="包含" value="contains"></option>
                                    <option label="不包含" value="not_contains"></option>
                                    <option label="等于" value="=="></option>
                                </select>
                                <select name="action" class="form-control equals display-none" v-if="c.suboption=='mail_size'||c.suboption=='mail_size2'||c.suboption=='content_size'" placeholder="请选择" style="width:100%">
                                    <option label="大于等于" value=">="></option>
                                    <option label="小于等于" value="<="></option>
                                </select>
                                <select name="action" class="form-control belongs display-none" v-if="c.suboption=='sender_dept'||c.suboption=='cc_dept'||c.suboption=='rcpt_dept'" placeholder="请选择" style="width:100%">
                                    <option label="属于" value="in"></option>
                                    <option label="不属于" value="not_in"></option>
                                </select>
                                <select name="action" class="form-control date display-none" v-if="c.suboption=='exec_date'" placeholder="请选择" style="width:100%">
                                    <option label="星期" value="week"></option>
                                    <option label="天" value="date"></option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input  class="display-none" name="val" v-if="c.suboption=='attachments' || c.suboption=='sender' || c.suboption == 'cc'|| c.suboption == 'recipient'|| c.suboption=='subject'|| c.suboption=='body'" placeholder="请输入内容"  style="width:100%"></input>
                                <input  class="display-none" name="val" v-if="c.suboption=='mail_size' || c.suboption=='mail_size2' || c.suboption == 'content_size'" placeholder="" type="number" style="width:100%"></input>
                                
                                <div id="id_rule_value_dpt0" class="display-none ">
                                    <div class="input-group">
                                        <div>
                                            <input type="text" value="" readonly placeholder="点击选择部门" class="form-control department_choice">
                                            <input type="hidden" class="id_dept_id" value="" name="option_value_dpt0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </td>
                </tr>
                <tr>
                    <td>回复内容：</td>
                    <td>
                        <textarea class="form-control" rows="5" name="reply_body" id="reply_body"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="center">
                        <input type="hidden" name="id" value="0">
                        <input type="hidden" name="rule_id" value="" id="rule_id">
                        <input type="hidden" name="copy_addr_con" value="" id="copy_addr_con">
                        <input type="hidden" name="subject_con" value="" id="subject_con">
                        <input type="hidden" name="sender_original_con" value="" id="sender_original_con">
                        <input type="hidden" name="sender_con" value="" id="sender_con">
                        <input type="hidden" name="recipient_con" value="" id="recipient_con">
                        <input type="hidden" name="recipient_original_con" value="" id="recipient_original_con">
                        <input type="hidden" name="exec_date_con" value="" id="exec_date_con">
                        <input type="hidden" name="exec_week_con" value="" id="exec_week_con">
                        <input type="hidden" name="mailsize_con" value="" id="mailsize_con">
                        <input type="submit" value="y" id="submit_ok" style="display: none;">
                        <input type="hidden" name="action" value="add" id="reply_action_id">

                        <button type="button" onclick="save_reply({{ mailbox_obj.id }})" class="btn btn-sm btn-primary">保存</button>
                        <button type="button" id="id_return" class="btn btn-sm btn-danger cancel-btn" href="{% url 'mailbox_reply' mailbox_obj.id %}" data-target="#modal-reply" data-dismiss="modal" data-toggle="modal">返回</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<style>
    .email_box_tree{display:none;}
    .email_box_tree.active{display:block;}
</style>
<script>
    $('body').on('click','.department_choice',function(){
        $(this).parent().append($('#tree_box'));
        $('#tree_box').addClass('active')
    })
    $('body').on('change','.suboption',function(v){
        console.log(this)
        console.log($(this).val())
        console.log(v)
    })
</script>
