
{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}
{% block title %}{% trans "邮箱帐号管理" %}{% endblock %}
{% block breadcrumb %}
<li> <a href="#">{% trans "邮箱帐号管理" %}</a> </li>
<li class="active">{% trans "导入导出帐号" %}</li>
{% endblock %}

{% block page-content %}
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>{% trans "邮箱帐号管理" %}<small>
                <i class="ace-icon fa fa-angle-double-right"></i>{% trans "导入导出帐号" %}</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <ul class="nav nav-tabs" id="myTab">
            <li>
                <a href="{% url 'mailbox_account' %}">
                    <i class="green ace-icon fa fa-home bigger-120"></i>{% trans "帐号列表" %}
                </a>
            </li>

            <li>
                <a href="{% url 'mailbox_add_account' %}">
                    {% trans "添加帐号" %}
                </a>
            </li>

            <li>
                <a href="{% url 'mailbox_batchadd_account' %}">
                    {% trans "批量添加帐号" %}
                </a>
            </li>

            <li>
                <a href="{% url 'mailbox_batchedit_account' %}">
                    {% trans "批量修改帐号" %}
                </a>
            </li>
            <li>
                <a href="{% url 'mailbox_delete_account' %}">
                    {% trans "批量删除帐号" %}
                </a>
            </li>
            <li class="active">
                <a href="{% url 'mailbox_backup_account' %}">
                    {% trans "导入导出帐号" %}
                </a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active">

                <form class="form-horizontal" >

                    <table id="email-basic-table" class="table  table-bordered  table-striped">
                        <tbody>
                        <tr >
                            <td class="center" style="vertical-align: middle"><b>备份域“{{ domain.domain }}”的邮箱</b></td>
                            <td class="text-right">
                                备份文件名称：
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" value="backup_20180412">
                                    <span class="input-group-addon">.dat</span>
                                </div>
                            </td>
                            <td>
                                <a type="button" class="btn btn-info" href="{% url 'mailbox_backup_account' %}?export=1">备份数据</a>
                            </td>
                        </tr>
                        <tr >
                            <td class="center"><b>恢复域“{{ domain.domain }}”的备份</b></td>
                            <td class="text-right">
                                请选择备份文件：：
                            </td>
                            <td>
                                <input type="file">
                            </td>
                            <td>
                                <button type="button" class="btn btn-info">恢复备份</button>
                            </td>
                        </tr>
                        <tr >
                            <td class="center"><b>导出域“{{ domain.domain }}”的邮箱列表</b></td>
                            <td class="text-right">
                                导出文件名称：
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" value="backup_20180412">
                                    <span class="input-group-addon">.cvs</span>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info">导出邮箱</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}


