{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}
{% block title %}{% trans "邮箱帐号管理" %}{% endblock %}
{% block breadcrumb %}
<li> <a href="#">{% trans "邮箱帐号管理" %}</a> </li>
<li class="active">{% trans "批量修改帐号" %}</li>
{% endblock %}

{% block page-content %}

{% if success or failures %}
<div class="row">
    <article class="col-sm-12">

        {% autoescape off %}
        <div class="alert alert-success fade in">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <i class="fa-fw fa fa-success"></i>
            成功修改 <span class="text-success">{{ success }}</span> 个邮箱, 修改失败 <span class="text-danger"> {{ failures|length }}</span> 个邮箱：
            {% if failures %}
            <br>
            <i class="fa-fw fa fa-success"></i>失败数据重新放入<a href="#tip">输入框</a>中，您可以重新编辑提交
            <pre>{% for f in failures %}
<span class="text-danger">{{ f.0 }}:</span> {{ f.1 }}
{% endfor %}</pre>
            {% endif %}
        </div>
        {% endautoescape %}

    </article>
</div>
{% endif %}
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>{% trans "邮箱帐号管理" %}<small>
                <i class="ace-icon fa fa-angle-double-right"></i>{% trans "批量修改帐号" %}</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-tabs" id="myTab">
            <li>
                <a href="{% url 'mailbox_account' %}">
                    <i class="green ace-icon fa fa-home bigger-120"></i>{% trans "帐号列表" %}
                </a>
            </li>

            <li>
                <a href="{% url 'mailbox_add_account' %}">
                    {% trans "修改帐号" %}
                </a>
            </li>

            <li>
                <a href="{% url 'mailbox_batchadd_account' %}">
                    {% trans "批量添加帐号" %}
                </a>
            </li>

            <li class="active">
                <a href="{% url 'mailbox_batchedit_account' %}">
                    {% trans "批量修改帐号" %}
                </a>
            </li>
            <li>
                <a href="{% url 'mailbox_delete_account' %}">
                    {% trans "批量删除帐号" %}
                </a>
            </li>
            <!--
            {% if request.user.is_superuser %}
                <li>
                    <a href="{% url 'mailbox_backup_account' %}">
                        {% trans "导入导出帐号" %}
                    </a>
                </li>
            {% endif %}
            -->


        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active">
                <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table  table-bordered  ">
                        <tbody>
                        <tr >
                            <td class="text-right">
                                邮箱域名：
                            </td>
                            <td>
                                <b>{{ domain.domain }}</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">格式说明：</td>
                            <td colspan="5">
                                <p>用户名可以是字符、数字、上划线、下划线，但用户名的第一个字必须是数字或字母。
                                    如果输入的用户名是大写字母，系统将自动转为小写！</p>
                                <p><span class="red">注意：</span>每行的格式为
                                    <span class="blue">
                    用户名 真实名称 所属部门 职位 工号 手机号码 电话号码 密码 邮箱容量 网盘容量 排序权重 QQ号码 出生日期 密码
                    </span> 之间用“TAB”符号隔开
                                    “邮箱容量”和“网盘容量”的单位为“M”</p>
                                <p>文件内容举例:</p>
                                <textarea   rows="4" class="form-control">用户名 真实名称 所属部门 职位 工号 手机号码 电话号码 邮箱容量 网盘容量 排序权重 QQ号码 出生日期 密码
wangwu 王五 技术部 高级工程师 U0003 13600000000 13600000000 500 500 0 88776655 1985-01-01 password1
lisi 李四 技术部 中级工程师 U0004 13600000001 13600000001 500 500 0 88776656 1988-01-01 password2</textarea>
                                <div class="hr hr-18 dotted hr-double"></div>
                                <p>标准操作步骤：</p>
                                <ul>
                                    <li>1、根据"格式说明"里的范例将用户数据保存为excel或者txt/csv格式的文件，分隔符为tab</li>
                                    <li>2、点击表格下方的“导入文件”将文件提交</li>
                                    <li>3、eg:显示名称 为空，则默认为选择列表"所属部门"的设置值</li>
                                    <li>4、eg:邮箱大小或网盘大小为空，则默认为邮箱容量或网盘容量的设置值</li>
                                    <li>5、eg:所属部门为空，则默认为选择列表"所属部门"的设置值</li>
                                    <li>6、eg:从"帐号列表"--"导出excel"导出的文件，在删掉"邮箱地址"列后可直接导入</li>
                                    <li>7、eg:请将要导入的文件内容保存为GBK编码</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right" style="width:100px;">导入文件：</td>
                            <td>
                            <input type="file" name="txtfile" required="" id="id_txtfile">
                            </td>
                        </tr>
                        <!--<tr>-->
                            <!--<td class="text-right">excel数据导入：</td>-->
                            <!--<td>-->
                                <!--<input type="file">-->
                            <!--</td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>
                    <div class="clearfix form-actions">
                        <div class="text-center">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                保存
                            </button>
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


