{% extends 'base_site.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap %}
{% load tags %}

{% block page-content %}
    <div class="modal-header">
        <div class="col-xs-6">
            <h4 class="modal-title">{% trans "用户注册列表" %}</h4>
            <ul class="nav nav-tabs" id="myTab">
                <li>
                    <a href="{% url 'mailbox_account' %}">
                        <i class="green ace-icon fa fa-home bigger-120"></i>{% trans "帐号列表" %}
                    </a>
                </li>

                <li>
                    <a href="{% url 'mailbox_add_account' %}">
                        {% trans "添加帐号" %}
                    </a>
                </li>

                <li>
                    <a href="{% url 'mailbox_batchadd_account' %}">
                        {% trans "批量添加帐号" %}
                    </a>
                </li>

                <li>
                    <a href="{% url 'mailbox_batchedit_account' %}">
                        {% trans "批量修改帐号" %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'mailbox_delete_account' %}">
                        {% trans "批量删除帐号" %}
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'register_list' %}">
                        {% trans "帐号申请列表" %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-body">
        <label style="margin-right:20px;">
            <input id="id_show_status" type="radio" {% if show_status == 'wait' %} checked {% endif %} onchange="ClickShowStatus('wait')"><span>{% trans "等待列表" %}</span>
            <input id="id_show_status2" type="radio" {% if show_status == 'permit' %} checked {% endif %} onchange="ClickShowStatus('permit')"><span>{% trans "批准列表" %}</span>
            <input id="id_show_status3" type="radio" {% if show_status == 'reject' %} checked {% endif %} onchange="ClickShowStatus('reject')"><span>{% trans "拒绝列表" %}</span>
        </label>
        <form id="id_form" method="POST">
            <div class="tab-content">
                    {% csrf_token %}
                <input type="hidden" name="action" value="list" />
                <div class="tab-pane fade in active">
                    <form id="id_form" action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" id="id" />
                        <input type="hidden" name="status" id="status" />
                        <input type="hidden" name="ids" id="ids" />
                        <input type="hidden" name="show_status" id="show_status" value="{{ show_status }}" />
                    </form>
                    <div class="row" style="padding: 0px 13px 0px 13px;">
                        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr role="row">
                                <th width="4%">{% trans "序号" %}</th>
                                <th>{% trans "帐号名称" %}</th>
                                <th>{% trans "姓名" %}</th>
                                <th>{% trans "员工代码（工号，警号等等）" %}</th>
                                <th>{% trans "部门" %}</th>
                                <th>{% trans "手机号码" %}</th>
                                <th>{% trans "状态" %}</th>
                                <th>{% trans "备注" %}</th>
                                <th>{% trans "申请日期" %}</th>
                                <th>{% trans "操作" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'components/_mod/jquery-ui.custom/jquery-ui.custom.css' %}" />
    <link href="{% static 'components/datatables/media/css/dataTables.bootstrap.css' %}">
    <link href="{% static "components/datetimepiker/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
    <style>
        .control-label-flag { width: 60px; }
    </style>
{% endblock %}

{% block my_jsblock %}
    <script src="{% static 'components/datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'components/_mod/datatables/jquery.dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'components/_mod/jquery-ui.custom/jquery-ui.custom.js' %}"></script>
    <script src="{% static "components/datetimepiker/bootstrap-datetimepicker.min.js" %}"></script>
    {% if request.COOKIES.webvue_language == 'zh-hans'  %}
        <script src="{% static "components/datetimepiker/bootstrap-datetimepicker.zh-CN.js" %}"></script>
    {% endif %}

    <script>
        $(function(){
            var path = "{% url 'register_list' %}";
            $('#sidebar').find('[href="'+path+'"]').parent().first().addClass('active');
        });

        function setStatus(rule_id, status){
            var str = '{% trans "是否确认此操作？" %}';
            if(confirm(str)) {
                $('#id').val(rule_id);
                $('#status').val(status);
                $('#id_form').submit();
            }
            return;
        }

        function ClickShowStatus(status){
            console.log("ClickShowStatus  "+status);
            $('#show_status').val(status);
            $('#id_form').submit();
            return;
        }

        var ip_table;
        $(function () {
            var status = $('#show_status').val();
            var ajax_url = "{% url 'ajax_register_list' %}"+"?show_status="+status;
            ip_table = $('#dynamic-table').dataTable({
                // "columnDefs": [ { "targets": [ 0 ], "visible": false, "searchable": false }],
                "iDisplayLength": 100,
                "processing": false,
                "serverSide": true,
                "autoWidth" : true,
                "bAutoWidth": false,
                "lengthMenu": [[100, 250, 500, 1000], [100, 250, 500, 1000]],
                "bFilter" : false,
                "ajax": {
                    'url'   :   ajax_url,
                     'data': function (data) {
                          for (var i = 0, len = data.columns.length; i < len; i++) {
                              if (! data.columns[i].search.value) delete data.columns[i].search;
                              if (data.columns[i].searchable === true) delete data.columns[i].searchable;
                              if (data.columns[i].orderable === true) delete data.columns[i].orderable;
                              if (data.columns[i].data === data.columns[i].name) delete data.columns[i].name;
                          }
                          delete data.search.regex;
                      }
                },
                "aaSorting": [
                    [ 0, "asc" ]
                ],
                "oLanguage": {
                    "sLengthMenu": "{% blocktrans %}显示 _MENU_ 每页{% endblocktrans %}",
                    "sZeroRecords": "{% blocktrans %}对不起! 信息筛选结果为空!{% endblocktrans %}",
                    "sInfo": "{% blocktrans %}从 _START_ 到 _END_ 总计: _TOTAL_ 条记录{% endblocktrans %}",
                    "sInfoEmpty": "{% blocktrans %}总计: 0 条记录{% endblocktrans %}",
                    "sInfoFiltered": "{% blocktrans %}(从 _MAX_ 条记录筛选出){% endblocktrans %}",
                    "sSearch": "{% blocktrans %}搜索: {% endblocktrans %}",
                    "oPaginate": {
                        "sFirst":    " {% blocktrans %}第一页{% endblocktrans %} ",
                        "sPrevious": " {% blocktrans %}上一页{% endblocktrans %} ",
                        "sNext":     " {% blocktrans %}下一页{% endblocktrans %} ",
                        "sLast":     " {% blocktrans %}最后一页{% endblocktrans %} "
                    }
                },
                // "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+ "t"+ "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",

                "drawCallback": function(oSettings, json) {
                    $('#dynamic-table tr').click( function() {
                        if ( $(this).hasClass('row_selected') )
                            $(this).removeClass('row_selected');
                        else
                            $(this).addClass('row_selected');
                    } );
                },

            });
        });

        $.fn.dataTableExt.oApi.fnGetFilteredNodes = function ( oSettings ) {
            var anRows = [];
            var length = oSettings.aiDisplay.length;
            for ( var i=0, iLen=length ; i<iLen ; i++ ) {
                var nRow = oSettings.aoData[ oSettings.aiDisplay[i] ].nTr;
                anRows.push( nRow );
            }
            return anRows;
        };

        function fnGetAll() {
            var aTrs = ip_table.fnGetFilteredNodes();
            for ( var i=0 ; i<aTrs.length ; i++ ) {
                if ( !$(aTrs[i]).hasClass('row_selected') )
                    $(aTrs[i]).addClass('row_selected');
            }
        }

        function fnGetReverse() {
            var aTrs = ip_table.fnGetFilteredNodes();
            for (var i=0 ; i<aTrs.length ; i++ ) {
                if ( $(aTrs[i]).hasClass('row_selected') ) {
                    $(aTrs[i]).removeClass('row_selected');
                }
            }
        }

        function fnGetSelected() {
            var aReturn = new Array();
            var aTrs = ip_table.fnGetFilteredNodes();
            for ( var i=0 ; i<aTrs.length ; i++ ) {
                if ( $(aTrs[i]).hasClass('row_selected') ) {
                    var aData = ip_table.fnGetData( aTrs[i]);
                    var iId = aData[0];
                    aReturn.push( iId );
                }
            }
            return aReturn;
        }
    </script>
{% endblock %}
