{% extends 'base.html' %}
{% load static from staticfiles %}
{% load perm_tags %}
{% load tags %}
{% block js_block %}
    <!-- basic scripts -->

    <!--[if !IE]> -->
    <script src="{% static 'components/jquery/dist/jquery.js' %}"></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="{% static 'components/jquery.1x/dist/jquery.js' %}"></script>
    <![endif]-->

    {% block ext_js_block %}{% endblock %}
{% endblock %}

{% block body %}

    <body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        {{ request.user.super_admin_title }}
                    </small>
                </a>

                <!-- /section:basics/navbar.layout.brand -->

                <!-- #section:basics/navbar.toggle -->

                <!-- /section:basics/navbar.toggle -->
            </div>
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <!--
                    <li class="green">
                        <a  href="#" data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <i class="ace-icon glyphicon glyphicon-font"></i>
                            语言
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#" >
                                    中文
                                </a>
                            </li>

                            <li>
                                <a href="#" >
                                    English
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class=" blue">
                        <a  href="#" data-toggle="modal" id="fankui_btn" data-target="#fankui">
                            <i class="ace-icon fa fa-codepen"></i>
                            反馈
                        </a>
                    </li>
                    -->
                    <li class="purple">
                        <a   href="#" data-toggle="modal" data-target="#resetPwd">
                            <i class="ace-icon fa fa-cog"></i>
                            修改密码
                        </a>
                    </li>

                    <li class="light-blue">
                        <a   href="{% url 'logout' %}" >
                            <i class="ace-icon fa fa-power-off"></i>
                            退出登录
                        </a>
                    </li>

                    <!-- #section:basics/navbar.user_menu -->
                    <!--<li class="light-blue">-->
                    <!--<a data-toggle="dropdown" href="#" class="dropdown-toggle">-->
                    <!--<img class="nav-user-photo" src="../assets/avatars/user.jpg" alt="Jason's Photo" />-->
                    <!--<span class="user-info">-->
                    <!--<small>Welcome,</small>-->
                    <!--Jason-->
                    <!--</span>-->

                    <!--<i class="ace-icon fa fa-caret-down"></i>-->
                    <!--</a>-->

                    <!--<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">-->
                    <!--<li>-->
                    <!--<a href="#" data-toggle="modal" data-target="#resetPwd">-->
                    <!--<i class="ace-icon fa fa-user"></i>-->
                    <!--修改密码-->
                    <!--</a>-->
                    <!--</li>-->

                    <!--<li>-->
                    <!--<a href="#" data-toggle="modal" data-target="#global_set">-->
                    <!--<i class="ace-icon fa fa-cog"></i>-->
                    <!--全局设置-->
                    <!--</a>-->
                    <!--</li>-->

                    <!--<li class="divider"></li>-->

                    <!--<li>-->
                    <!--<a href="#">-->
                    <!--<i class="ace-icon fa fa-power-off"></i>-->
                    <!--退出登录-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</li>-->

                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>
            <!--
            <form class="pull-right" style="margin:6px 28px 5px 0;width:220px;">
                <select class="select2"  id="search_select2" style="max-width:100%;">
                    <option disabled selected>输入关键词搜索功能</option>
                </select>
            </form>
            -->
            <!-- #section:basics/navbar.dropdown -->
            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
            <script type="text/javascript">
                try{ace.settings.loadState('sidebar')}catch(e){}
            </script>


            <ul class="nav nav-list">

                <li class="">
                    <a href="{% url 'home' %}">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> 主页 </span>
                    </a>
                    <b class="arrow"></b>
                </li>

                {% show_nav perms %}

                {% if request.user.is_superuser %}
                    <li class="" id="nav_perm">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-list"></i>
                            <span class="menu-text"> 管理员管理 </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="">
                                <a href="{% url 'user_list' %}"><i class="menu-icon fa fa-caret-right"></i> 管理员列表 </a><b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="{% url 'group_list' %}"><i class="menu-icon fa fa-caret-right"></i> 管理员组管理 </a><b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="{% url 'perm_list' %}"><i class="menu-icon fa fa-caret-right"></i> 权限管理 </a><b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="{% url 'webmail_admin_list' %}"><i class="menu-icon fa fa-caret-right"></i> Webmail管理员管理 </a><b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                {% endif %}

            </ul><!-- /.nav-list -->


            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <!-- /section:basics/sidebar.layout.minimize -->
        </div>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="main-content-inner">
                <!-- #section:basics/content.breadcrumbs -->
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    {% block switch-domain %}
                        {% switch_domain request %}
                    {% endblock %}
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="{% url 'home' %}">主页</a>
                        </li>

                        {% block breadcrumb %}
                        {% endblock %}

                    </ul><!-- /.breadcrumb -->

                </div>


                <!-- /section:basics/content.breadcrumbs -->
                <div class="page-content">
                    {% if messages %}
                        <div class="row">
                            <article class="col-sm-12">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} fade in">
                                        <button class="close" data-dismiss="alert">
                                            ×
                                        </button>
                                        <i class="fa-fw fa fa-{{ message.tags }}"></i>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </article>
                        </div>
                    {% endif %}
                    {% block page-content %}
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->

                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    {% endblock %}

                    {% include 'remark.html' %}

                </div><!-- /.page-content -->


            </div>
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <a href="http://www.comingchina.com/" target="_blank">
						<span class="bigger-120">
							<span class="blue bolder">www.comingchina.com</span>
						</span>
                    </a>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->

     <div class="modal fade" id="resetPwd" tabindex="-1" role="dialog" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">邮件域基本信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal modify_pwd_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class=" col-sm-3 control-label">旧密码:</label>
                            <div class="col-sm-7">
                                <input name="password" type="password" class="form-control"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 ">新密码:</label>
                            <div class="col-sm-7">
                                <input name="password1" type="password" class="form-control" >
                                <p class="help-block"><span class="red">注：</span>密码长度最少为8位，其中必须包括字母和数字！</p>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">确认新密码:</label>
                            <div class="col-sm-7">
                                <input name="password2" type="password" class="form-control" >
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer center">
                    <button type="button" class="btn btn-primary" onclick="onClickModifyPassword()">保存</button>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}

{% block jsblock %}

    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script charset="utf-8" src="{% static 'editor/kindeditor.js' %}"></script>
    <script charset="utf-8" src="{% static 'editor/lang/zh_CN.js' %}"></script>
    <script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='{% static 'components/_mod/jquery.mobile.custom/jquery.mobile.custom.js' %}'>"+"<"+"/script>");

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });


        $(function(){
            var path = window.location.pathname;
            $('#sidebar').find('[href="'+path+'"]').parent().first().addClass('active');
            if ( path.indexOf('/operation/perms/')==0 ){
                $('#nav_perm').addClass('active open');
            };
        });


        /* -------------备注----------------- */
        // 备注
        var editor_remark_base;
        KindEditor.ready(function(K) {
            var options = {
                width: '100%',
                minHeight: '350',
                items: ['source', 'preview', 'fullscreen', '|', 'undo', 'redo', '|', 'cut', 'copy', 'paste', 'plainpaste', 'wordpast', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyfull', '|', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', '|', 'template', 'clearhtml', 'quickformat', 'selectall', '|', 'lineheight', '/', 'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'strikethrough', 'linehieght', 'removeformat', '|', 'localimage', 'flash', 'media', 'insertfile', 'table', 'hr', 'link', 'unlink', '|', 'umail_link'],
                filterMode: false,
                wellFormatMode: false,
                allowImageUpload: false,
                allowFlashUpload: false,
                allowMediaUpload: false,
                resizeType: 2,
                afterBlur:function(){this.sync();},
                colorTable: [
                    //["#FBEFEF", "#FBF2EF", "#FBF5EF", "#FBF8EF", "#FBFBEF", "#F8FBEF", "#F5FBEF", "#F2FBEF", "#EFFBEF", "#EFFBF2", "#EFFBF5", "#EFFBF8", "#EFFBFB", "#EFF8FB", "#EFF5FB", "#EFF2FB", "#EFEFFB", "#F2EFFB", "#F5EFFB", "#F8EFFB", "#FBEFFB", "#FBEFF8", "#FBEFF5", "#FBEFF2", "#FFFFFF"],

                    ["#F8E0E0", "#F8E6E0", "#F8ECE0", "#F7F2E0", "#F7F8E0", "#F1F8E0", "#ECF8E0", "#E6F8E0", "#E0F8E0", "#E0F8E6", "#E0F8EC", "#E0F8F1", "#E0F8F7", "#E0F2F7", "#E0ECF8", "#E0E6F8", "#E0E0F8", "#E6E0F8", "#ECE0F8", "#F2E0F7", "#F8E0F7", "#F8E0F1", "#F8E0EC", "#F8E0E6", "#FAFAFA"],

                    ["#F6CECE", "#F6D8CE", "#F6E3CE", "#F5ECCE", "#F5F6CE", "#ECF6CE", "#E3F6CE", "#D8F6CE", "#CEF6CE", "#CEF6D8", "#CEF6E3", "#CEF6EC", "#CEF6F5", "#CEECF5", "#CEE3F6", "#CED8F6", "#CECEF6", "#D8CEF6", "#E3CEF6", "#ECCEF5", "#F6CEF5", "#F6CEEC", "#F6CEE3", "#F6CED8", "#F2F2F2"],

                    ["#F5A9A9", "#F5BCA9", "#F5D0A9", "#F3E2A9", "#F2F5A9", "#E1F5A9", "#D0F5A9", "#BCF5A9", "#A9F5A9", "#A9F5BC", "#A9F5D0", "#A9F5E1", "#A9F5F2", "#A9E2F3", "#A9D0F5", "#A9BCF5", "#A9A9F5", "#BCA9F5", "#D0A9F5", "#E2A9F3", "#F5A9F2", "#F5A9E1", "#F5A9D0", "#F5A9BC", "#E6E6E6"],

                    ["#F78181", "#F79F81", "#F7BE81", "#F5DA81", "#F3F781", "#D8F781", "#BEF781", "#9FF781", "#81F781", "#81F79F", "#81F7BE", "#81F7D8", "#81F7F3", "#81DAF5", "#81BEF7", "#819FF7", "#8181F7", "#9F81F7", "#BE81F7", "#DA81F5", "#F781F3", "#F781D8", "#F781BE", "#F7819F", "#D8D8D8"],

                    ["#FA5858", "#FA8258", "#FAAC58", "#F7D358", "#F4FA58", "#D0FA58", "#ACFA58", "#82FA58", "#58FA58", "#58FA82", "#58FAAC", "#58FAD0", "#58FAF4", "#58D3F7", "#58ACFA", "#5882FA", "#5858FA", "#8258FA", "#AC58FA", "#D358F7", "#FA58F4", "#FA58D0", "#FA58AC", "#FA5882", "#BDBDBD"],

                    ["#FE2E2E", "#FE642E", "#FE9A2E", "#FACC2E", "#F7FE2E", "#C8FE2E", "#9AFE2E", "#64FE2E", "#2EFE2E", "#2EFE64", "#2EFE9A", "#2EFEC8", "#2EFEF7", "#2ECCFA", "#2E9AFE", "#2E64FE", "#2E2EFE", "#642EFE", "#9A2EFE", "#CC2EFA", "#FE2EF7", "#FE2EC8", "#FE2E9A", "#FE2E64", "#A4A4A4"],

                    ["#FF0000", "#FF4000", "#FF8000", "#FFBF00", "#FFFF00", "#BFFF00", "#80FF00", "#40FF00", "#00FF00", "#00FF40", "#00FF80", "#00FFBF", "#00FFFF", "#00BFFF", "#0080FF", "#0040FF", "#0000FF", "#4000FF", "#8000FF", "#BF00FF", "#FF00FF", "#FF00BF", "#FF0080", "#FF0040", "#848484"],

                    ["#DF0101", "#DF3A01", "#DF7401", "#DBA901", "#D7DF01", "#A5DF00", "#74DF00", "#3ADF00", "#01DF01", "#01DF3A", "#01DF74", "#01DFA5", "#01DFD7", "#01A9DB", "#0174DF", "#013ADF", "#0101DF", "#3A01DF", "#7401DF", "#A901DB", "#DF01D7", "#DF01A5", "#DF0174", "#DF013A", "#6E6E6E"],

                    ["#B40404", "#B43104", "#B45F04", "#B18904", "#AEB404", "#86B404", "#5FB404", "#31B404", "#04B404", "#04B431", "#04B45F", "#04B486", "#04B4AE", "#0489B1", "#045FB4", "#0431B4", "#0404B4", "#3104B4", "#5F04B4", "#8904B1", "#B404AE", "#B40486", "#B4045F", "#B40431", "#585858"],

                    ["#8A0808", "#8A2908", "#8A4B08", "#886A08", "#868A08", "#688A08", "#4B8A08", "#298A08", "#088A08", "#088A29", "#088A4B", "#088A68", "#088A85", "#086A87", "#084B8A", "#08298A", "#08088A", "#29088A", "#4B088A", "#6A0888", "#8A0886", "#8A0868", "#8A084B", "#8A0829", "#424242"],

                    ["#610B0B", "#61210B", "#61380B", "#5F4C0B", "#5E610B", "#4B610B", "#38610B", "#21610B", "#0B610B", "#0B6121", "#0B6138", "#0B614B", "#0B615E", "#0B4C5F", "#0B3861", "#0B2161", "#0B0B61", "#210B61", "#380B61", "#4C0B5F", "#610B5E", "#610B4B", "#610B38", "#610B21", "#2E2E2E"],

                    ["#3B0B0B", "#3B170B", "#3B240B", "#3A2F0B", "#393B0B", "#2E3B0B", "#243B0B", "#173B0B", "#0B3B0B", "#0B3B17", "#0B3B24", "#0B3B2E", "#0B3B39", "#0B2F3A", "#0B243B", "#0B173B", "#0B0B3B", "#170B3B", "#240B3B", "#2F0B3A", "#3B0B39", "#3B0B2E", "#3B0B24", "#3B0B17", "#1C1C1C"],

                    ["#2A0A0A", "#2A120A", "#2A1B0A", "#29220A", "#292A0A", "#222A0A", "#1B2A0A", "#122A0A", "#0A2A0A", "#0A2A12", "#0A2A1B", "#0A2A22", "#0A2A29", "#0A2229", "#0A1B2A", "#0A122A", "#0A0A2A", "#120A2A", "#1B0A2A", "#220A29", "#2A0A29", "#2A0A22", "#2A0A1B", "#2A0A12", "#151515"],

                    ["#190707", "#190B07", "#191007", "#181407", "#181907", "#141907", "#101907", "#0B1907", "#071907", "#07190B", "#071910", "#071914", "#071918", "#071418", "#071019", "#070B19", "#070719", "#0B0719", "#100719", "#140718", "#190718", "#190714", "#190710", "#19070B", "#000000"]
                ]
            };
            editor_remark_base = K.create('#id_base_site_remark', options);
            var base_url = window.location.pathname;
            $("#id_base_site_remark_button_save").hide();
            $("#id_base_site_remark_div").hide();
            $.get("{% url 'ajax_get_remark' %}", {'base_url': base_url}, function(data){
                editor_remark_base.html(data.remark);
                $("#id_base_site_remark").html(data.remark);
                $("#id_base_site_remark_label").html(data.remark);
            })
        });
        function edit_remark_base(){
            $('#id_base_site_remark_button_edit').hide();
            $('#id_base_site_remark_button_save').show();
            $("#id_base_site_remark_label_div").hide();
            $("#id_base_site_remark_div").show();
        };
        function save_remark_base(){
            var remark = $("#id_base_site_remark").val();
            var base_url = window.location.pathname;
            var kwargs = {'base_url': base_url, 'remark': remark}
            $('#id_base_site_remark_button_save').hide();
            $('#id_base_site_remark_button_edit').show();
            $.post("{% url 'ajax_set_remark' %}", kwargs,  function(data){
                editor_remark_base.html(remark);
                $("#id_base_site_remark_label").html(remark);
                $("#id_base_site_remark").html(remark);
                $("#id_base_site_remark_div").hide();
                $("#id_base_site_remark_label_div").show();
            });
        }
        /* -------------备注----------------- */

    </script>
    <script src="{% static 'components/bootstrap/dist/js/bootstrap.js' %}"></script>

    <!-- page specific plugin scripts -->
    <script src="{% static 'assets/js/src/ace.js' %}"></script>
    <script src="{% static 'assets/js/src/ace.basics.js' %}"></script>
    <script src="{% static 'assets/js/src/ace.sidebar.js' %}"></script>
    <script src="{% static 'assets/js/date-time/bootstrap-datepicker.js' %}" ></script>
    <script src="{% static 'assets/js/select2.js' %}" ></script>
    <script src="{% static 'assets/layer/layer.js' %}" ></script>

    <!-- ace scripts -->
    <script src="{% static 'assets/js/ace/elements.scroller.js' %}" ></script>
    <script src="{% static 'assets/js/ace/elements.colorpicker.js' %}" ></script>
    <script src="{% static 'assets/js/ace/elements.fileinput.js' %}" ></script>
    <script src="{% static 'assets/js/ace/elements.typeahead.js' %}" ></script>
    <script src="{% static 'assets/js/ace/elements.wysiwyg.js' %}" ></script>
    <script src="{% static 'assets/js/ace/elements.spinner.js' %}" ></script>
    <script src="{% static 'assets/js/ace/elements.treeview.js' %}" ></script>
    <script src="{% static 'assets/js/ace/elements.wizard.js' %}" ></script>
    <script src="{% static 'assets/js/ace/elements.aside.js' %}" ></script>
    <script src="{% static 'assets/js/ace/ace.js' %}" ></script>
    <script src="{% static 'assets/js/ace/ace.ajax-content.js' %}" ></script>
    <script src="{% static 'assets/js/ace/ace.touch-drag.js' %}" ></script>
    <script src="{% static 'assets/js/ace/ace.sidebar.js' %}" ></script>
    <script src="{% static 'assets/js/ace/ace.sidebar-scroll-1.js' %}" ></script>
    <script src="{% static 'assets/js/ace/ace.submenu-hover.js' %}" ></script>
    <script src="{% static 'assets/js/ace/ace.widget-box.js' %}" ></script>
    <script src="{% static 'assets/js/ace/ace.settings.js' %}" ></script>
    <script src="{% static 'assets/js/ace/ace.settings-rtl.js' %}" ></script>
    <script src="{% static 'assets/js/ace/ace.settings-skin.js' %}" ></script>
    <script src="{% static 'assets/js/ace/ace.widget-on-reload.js' %}" ></script>
    <script src="{% static 'assets/js/ace/ace.searchbox-autocomplete.js' %}" ></script>
    <!-- ace scripts -->

    {% comment %}
        <!-- ace scripts -->
        <script src="{% static 'assets/js/src/elements.scroller.js' %}"></script>
        <script src="{% static 'assets/js/src/elements.colorpicker.js' %}"></script>
        <script src="{% static 'assets/js/src/elements.fileinput.js' %}"></script>
        <script src="{% static 'assets/js/src/elements.typeahead.js' %}"></script>
        <script src="{% static 'assets/js/src/elements.wysiwyg.js' %}"></script>
        <script src="{% static 'assets/js/src/elements.spinner.js' %}"></script>
        <script src="{% static 'assets/js/src/elements.treeview.js' %}"></script>
        <script src="{% static 'assets/js/src/elements.wizard.js' %}"></script>
        <script src="{% static 'assets/js/src/elements.aside.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.basics.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.scrolltop.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.ajax-content.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.touch-drag.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.sidebar.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.sidebar-scroll-1.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.submenu-hover.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.widget-box.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.settings.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.settings-rtl.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.settings-skin.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.widget-on-reload.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.searchbox-autocomplete.js' %}"></script>
        <!-- inline scripts related to this page -->
        <!-- the following scripts are used in demo only for onpage help and you don't need them -->
        <link rel="stylesheet" href="{% static 'assets/css/ace.onpage-help.css' %}" />
        <script type="text/javascript"> ace.vars['base'] = '..'; </script>
        <script src="{% static 'assets/js/src/elements.onpage-help.js' %}"></script>
        <script src="{% static 'assets/js/src/ace.onpage-help.js' %}"></script>
    {% endcomment %}

    <script>

        function onClickModifyPassword(){
            var str = $(".modify_pwd_form").serialize();
            $.ajax({
                url:"{% url 'mailbox_reset_pwd' %}",
                type:"POST",
                data:str,
                success:function(data){
                    if(data.status == 'OK'){
                        alert("修改密码成功！");
                        $('#resetPwd').modal('hide');
                    }else{
                        alert(data.message);
                    }
                }
            })
        }

        $('#search_select2').select2({
            placeholder: "输入关键词搜索功能",
            allowClear: true,
            data: [
                {id: 'home', text: '主页'},
                {id: 'systemStatus/licence', text: "授权信息"},
                {id: 'systemStatus/sysinfo', text: "软件信息"},
                {id: 'systemStatus/status', text: '系统状态'},
                {id: 'domain/dynamic', text: '域名管理'},
                {id: 'domain/static', text: '域名配置'},
                {id: 'mailbox/emailAccounts', text: '邮箱账号管理'},
                {id: 'mailbox/recheck', text: '审批管理'},
                {id: 'group', text: ' 组权限管理 '},
                {id: 'department/departmentList', text: ' 部门列表 '},
                {id: 'department/shareDomain', text: ' 其他域通讯录共享 '},
                {id: 'department/domainGroup', text: ' 企业通讯录域组合 '},
                {id: 'maillist', text: '  邮件列表管理  '},
                {id: 'safeSet/banned_ips', text: '  动态屏蔽  '},
                {id: 'safeSet/trustip', text: '  信任IP地址  '},
                {id: 'safeSet/black', text: '  发件人黑/白名单  '},
                {id: 'safeSet/white_rcp', text: '  收件人白名单  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 反垃圾/反病毒设置  '},
                {id: 'safeSet/send_hz', text: ' 发信频率设置  '},
                {id: 'misc/translate', text: ' 邮件头翻译  '},
                {id: 'misc/review', text: ' 邮件审核设置  '},
                {id: 'misc/monitor', text: ' 邮箱监控设置  '},
                {id: 'misc/mailboxalias', text: ' 邮箱别名设置  '},
                {id: 'misc/distribute', text: ' 分布式管理  '},
                {id: 'misc/distribute', text: ' 分布式主机  '},
                {id: 'misc/distribute|#distribute_config', text: ' 分布式开关  '},
                {id: 'misc/distribute|#distribute_status', text: ' 服务器连接状态  '},
                {id: 'misc/distribute|#distribute_move', text: ' 账号迁移进程  '},
                {id: 'misc/ldap_ad', text: ' LDAP/AD域同步设置  '},
                {id: 'misc/alias', text: ' 邮件域别名  '},
                {id: 'misc/cfilter', text: ' 内容过滤器  '},
                {id: 'misc/mail_send', text: ' 内网邮件代发  '},
                {id: 'misc/ssl_secret', text: ' SSL数字证书  '},
                {id: 'misc/global_set', text: ' 杂项设置  '},
                {id: 'maintain/backup', text: ' 数据备份  '},
                {id: 'maintain/acct_transfer', text: ' 帐号间数据迁移  '},
                {id: 'maintain/mail_moving', text: ' 外域邮件数据导入  '},
                {id: 'maintain/mail_queue', text: ' 邮件队列  '},
                {id: 'maintain/weixin', text: ' 微信版管理  '},
                {id: 'maintain/maillog', text: ' 邮件统计报告  '},
                {id: 'system/userlog', text: ' 用户操作日志  '},
                {id: 'system/adminlog', text: ' 管理员操作日志  '},
                {id: 'maintain/log', text: ' 底层程序日志  '},
                {id: 'wangguan/user', text: ' 用户管理  '},
                {id: 'wangguan/usergroup', text: ' 用户组管理  '},
                {id: 'wangguan/power', text: ' 权限管理  '},

                {id: 'systemStatus/licence', text: '被授权单位'},
                {id: 'systemStatus/licence', text: '绑定主域域名'},
                {id: 'systemStatus/licence', text: '邮箱用户数'},
                {id: 'systemStatus/licence', text: '附加模块'},
                {id: 'systemStatus/licence', text: '服务到期时间'},
                {id: 'systemStatus/licence', text: '授权截止时间'},
                {id: 'systemStatus/licence', text: '更新授权文件'},

                {id: 'systemStatus/sysinfo', text: ' 邮件系统使用统计'},
                {id: 'systemStatus/sysinfo', text: ' Webmail程序版本信息'},
                {id: 'systemStatus/sysinfo', text: ' 底层服务程序版本信息'},
                {id: 'systemStatus/sysinfo', text: ' PHP、MySQL版本信息'},
                {id: 'systemStatus/sysinfo', text: ' 病毒、反垃圾程序版本信息'},

                {id: 'domain/dynamic', text: '添加域名'},
                {id: 'domain/dynamic', text: 'DKIM配置'},

                {id: 'mailbox/emailAccounts', text: '添加帐号'},
                {id: 'mailbox/emailAccounts', text: '批量添加帐号'},
                {id: 'mailbox/emailAccounts', text: '批量修改帐号'},
                {id: 'mailbox/emailAccounts', text: '批量删除帐号'},
                {id: 'mailbox/emailAccounts', text: '导入导出帐号'},
                {id: 'mailbox/emailAccounts', text: '自动回复'},
                {id: 'mailbox/emailAccounts', text: '自动转发'},

                {id: 'mailbox/recheck', text: '审批申请'},
                {id: 'mailbox/recheck|#tab_cancel', text: '审批注销'},
                {id: 'mailbox/recheck|#tab_profile', text: '审批个人资料'},
                {id: 'mailbox/recheck|#tab_config', text: '审批配置'},

                {id: 'group', text: ' 组配置 '},
                {id: 'group', text: ' 成员管理 '},
                {id: 'group', text: ' 添加组 '},
                {id: 'group', text: ' 删除组 '},

                {id: 'department/departmentList', text: ' 添加部门 '},
                {id: 'department/departmentList', text: ' 修改部门 '},
                {id: 'department/departmentList', text: ' 删除部门 '},
                {id: 'department/departmentList', text: ' 部门排序 '},

                {id: 'maillist', text: '  添加邮件列表  '},
                {id: 'maillist', text: '  修改邮件列表  '},
                {id: 'maillist', text: '  维护邮件列表  '},

                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 反病毒功能  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 反垃圾功能  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - SPF检测  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 灰名单检测  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 检查附件  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 匹配黑名单  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 反垃圾引擎  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 检查发件人格式  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 垃圾邮件投递位置  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 垃圾邮件主题标识  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 隔离邮件保存天数  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 发送隔离报告  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 隔离报告发件人  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 隔离报告链接地址  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 检测对象  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 本域进站邮件  '},
                {id: 'safeSet/no_rubbish', text: ' 安全设置 - 外域进站邮件  '},

                {id: 'safeSet/send_hz', text: ' 发信频率 - 速率  '},
                {id: 'safeSet/send_hz', text: ' 发信频率 - 每小时发信数量  '},
                {id: 'safeSet/send_hz', text: ' 发信频率 - 每天发信数量  '},
                {id: 'safeSet/send_hz', text: ' 发信频率 - 超限操作  '},
                {id: 'safeSet/send_hz', text: ' 发信频率 - 警告邮件接收地址  '},
                {id: 'safeSet/send_hz', text: ' 发信频率 - 发信频率限制  '},

                {id: 'misc/translate', text: ' 添加邮件头翻译  '},
                {id: 'misc/translate', text: ' 修改邮件头翻译  '},
                {id: 'misc/translate', text: ' 删除邮件头翻译  '},

                {id: 'misc/monitor', text: ' 添加邮箱监控  '},
                {id: 'misc/monitor', text: ' 修改邮箱监控  '},
                {id: 'misc/monitor', text: ' 删除邮箱监控  '},

                {id: 'misc/global_set', text: ' 超管后台标题  '},
                {id: 'misc/global_set', text: ' 邮件收发日志保存天数  '},
                {id: 'misc/global_set', text: ' 发件人数量限制  '},
                {id: 'misc/global_set', text: ' 发信时对本服无效用户进行退信  '},
                {id: 'misc/global_set', text: ' “旧邮件备份”目录备份功能  '},
                {id: 'misc/global_set', text: ' 附件预览服务器域名  '},
                {id: 'misc/global_set', text: ' Webmail地址和端口  '},
                {id: 'misc/global_set', text: ' 邮件搜索加速  '},
                {id: 'misc/global_set', text: ' 邮件发送编码  '},
                {id: 'misc/global_set', text: ' 短信模块设置  '},
                {id: 'misc/global_set', text: ' SMTP发送重试时间  '},

                {id: 'maintain/mail_queue', text: ' 出站队列  '},
                {id: 'maintain/mail_queue|#in_queue', text: ' 入站队列  '},
                {id: 'maintain/mail_queue|#iso_queue', text: ' 隔离队列  '},

                {id: 'maintain/weixin', text: ' 微信公众号配置  '},
                {id: 'maintain/weixin|#teplate', text: ' 微信消息模板管理  '},
                {id: 'maintain/weixin|#users', text: ' 微信用户管理  '},
                {id: 'maintain/weixin|#news', text: ' 微信通知消息管理  '},
                {id: 'maintain/weixin|#news_log', text: ' 微信API调用日志  '},
                {id: 'maintain/weixin|#sms', text: ' 短信发送记录  '},

                {id: 'system/userlog|#web', text: ' web访问记录  '},
                {id: 'system/userlog|#custom', text: ' 客户端访问记录  '},

                {id: 'domain/static|#tabs_email_basic', text: '邮件域基本信息'},
                {id: 'domain/static|#tabs_email_basic', text: '邮件域名称'},
                {id: 'domain/static|#tabs_email_basic', text: '限定邮箱数量'},
                {id: 'domain/static|#tabs_email_basic', text: '限定别名数量'},
                {id: 'domain/static|#tabs_email_basic', text: '限定邮箱空间总容量'},
                {id: 'domain/static|#tabs_email_basic', text: '限定网络硬盘总容量'},
                {id: 'domain/static|#tabs_email_basic', text: '发送邮件限制大小'},
                {id: 'domain/static|#tabs_email_basic', text: '超大附件限制大小'},
                {id: 'domain/static|#tabs_email_basic', text: '用户邮箱默认容量'},
                {id: 'domain/static|#tabs_email_basic', text: '网络硬盘默认容量'},

                {id: 'domain/static|#tabs_reg_login', text: '用户注册'},
                {id: 'domain/static|#tabs_reg_login', text: '用户申请邮箱功能'},
                {id: 'domain/static|#tabs_reg_login', text: '管理员登陆链接显示在邮件系统登陆页'},
                {id: 'domain/static|#tabs_reg_login', text: '新用户欢迎信功能'},
                {id: 'domain/static|#tabs_reg_login', text: '用户注册协议'},
                {id: 'domain/static|#tabs_reg_login', text: '设置欢迎信内容'},

                {id: 'domain/static|#tabs_sys', text: '域名功能设置'},
                {id: 'domain/static|#tabs_sys|#sub_sys_limit', text: '收发限制'},
                {id: 'domain/static|#tabs_sys|#sub_sys_limit', text: '发信功能限制'},
                {id: 'domain/static|#tabs_sys|#sub_sys_limit', text: '收信功能限制'},
                {id: 'domain/static|#tabs_sys|#sub_sys_limit', text: '批量修改用户收发信权限为上面两项'},
                {id: 'domain/static|#tabs_sys|#sub_sys_limit', text: 'POP/POPS邮箱收取功能'},
                {id: 'domain/static|#tabs_sys|#sub_sys_limit', text: 'SMTP/SMTPS客户端邮件发送功能'},
                {id: 'domain/static|#tabs_sys|#sub_sys_limit', text: 'IMAP/IMAPS客户端邮件收发功能'},

                {id: 'domain/static|#tabs_sys|#sub_sys_safe', text: '安全类设置'},
                {id: 'domain/static|#tabs_sys|#sub_sys_safe', text: '修改密码通知信'},
                {id: 'domain/static|#tabs_sys|#sub_sys_safe', text: '用户登录安全'},
                {id: 'domain/static|#tabs_sys|#sub_sys_safe', text: '管理员登录密码错误3次锁定登录IP'},

                {id: 'domain/static|#tabs_sys|#pwd_rule', text: '密码规则'},
                {id: 'domain/static|#tabs_sys|#pwd_rule', text: '定期修改密码设置'},
                {id: 'domain/static|#tabs_sys|#pwd_rule', text: '密码有效期'},
                {id: 'domain/static|#tabs_sys|#pwd_rule', text: '密码有效开始时间'},
                {id: 'domain/static|#tabs_sys|#pwd_rule', text: '首次登录修改密码'},
                {id: 'domain/static|#tabs_sys|#pwd_rule', text: '密码组成字符种类'},
                {id: 'domain/static|#tabs_sys|#pwd_rule', text: '其他密码规则设置'},

                {id: 'domain/static|#tabs_sys|#sub_sys_third', text: '第三方对接'},
                {id: 'domain/static|#tabs_sys|#sub_sys_third', text: '第三方登录验证'},
                {id: 'domain/static|#tabs_sys|#sub_sys_third', text: '接口修改密码是否加密'},
                {id: 'domain/static|#tabs_sys|#sub_sys_third', text: '即时通讯软件集成'},
                {id: 'domain/static|#tabs_sys|#sub_sys_third', text: '登录防止xss启用token验证'},

                {id: 'domain/static|#tabs_sys|#sub_sys_other', text: '域名功能设置 - 杂项设置'},
                {id: 'domain/static|#tabs_sys|#sub_sys_other', text: '邮箱容量满后拒绝接收邮件'},
                {id: 'domain/static|#tabs_sys|#sub_sys_other', text: '邮箱空间定时清理功能'},
                {id: 'domain/static|#tabs_sys|#sub_sys_other', text: '客户端在线附件开关'},
                {id: 'domain/static|#tabs_sys|#sub_sys_other', text: '登录默认打开收件箱'},
                {id: 'domain/static|#tabs_sys|#sub_sys_other', text: '收件时是否过滤重复邮件'},
                {id: 'domain/static|#tabs_sys|#sub_sys_other', text: '所有用户的“保存客户端已发送邮件”选项设置为“是”'},
                {id: 'domain/static|#tabs_sys|#sub_sys_other', text: '邮件列表发来邮件显示邮件列表名称'},
                {id: 'domain/static|#tabs_sys|#sub_sys_other', text: '短信通知功能'},
                {id: 'domain/static|#tabs_sys|#sub_sys_other', text: '邮箱空间清理设置'},
                {id: 'domain/static|#tabs_sys|#sub_sys_other', text: '客户端在线附件设置'},

                {id: 'domain/static|#tabs_web_d|#sub_webmail', text: 'webmail页面定制'},
                {id: 'domain/static|#tabs_web_d|#sub_webmail', text: '企业名称'},
                {id: 'domain/static|#tabs_web_d|#sub_webmail', text: '页面标题'},
                {id: 'domain/static|#tabs_web_d|#sub_webmail', text: '显示SSL安全登录框'},
                {id: 'domain/static|#tabs_web_d|#sub_webmail', text: '登录页面自动输入域名'},
                {id: 'domain/static|#tabs_web_d|#sub_webmail', text: 'ICP备案是否显示'},
                {id: 'domain/static|#tabs_web_d|#sub_webmail', text: '备案号'},
                {id: 'domain/static|#tabs_web_d|#sub_webmail', text: '帮助文件地址'},
                {id: 'domain/static|#tabs_web_d|#sub_webmail', text: '设置系统公告'},
                {id: 'domain/static|#tabs_web_d|#sub_webmail', text: '登录系统地点限制'},
                {id: 'domain/static|#tabs_web_d|#sub_webmail', text: '启用验证码功能'},
                {id: 'domain/static|#tabs_web_d|#sub_webmail', text: '登出跳转地址'},
                {id: 'domain/static|#tabs_web_d|#sub_webmail', text: 'SSL访问'},

                {id: 'domain/static|#tabs_web_d|#tabs_logo', text: '页面LOGO设置'},
                {id: 'domain/static|#tabs_web_d|#tabs_logo', text: 'Webmail Logo 设置'},
                {id: 'domain/static|#tabs_web_d|#tabs_logo', text: '登录页面 Logo 设置'},

                {id: 'domain/static|#tabs_web_d|#tabs_login', text: '登录模板选择'},

                {id: 'domain/static|#tabs_web_d|#tabs_ad', text: '页面广告设置'},
                {id: 'domain/static|#tabs_web_d|#tabs_ad', text: '登录页面广告设置'},
                {id: 'domain/static|#tabs_web_d|#tabs_ad', text: 'webmail首页广告设置'},

                {id: 'domain/static|#tabs_web_d|#tabs_first', text: '首页链接设置'},
                {id: 'domain/static|#tabs_web_d|#tabs_first', text: '添加链接'},

                {id: 'domain/static|#tabs_web_d|#tabs_paple', text: '信纸管理'},
                {id: 'domain/static|#tabs_web_d|#tabs_paple', text: '添加信纸'},
                {id: 'domain/static|#tabs_web_d|#tabs_paple', text: '修改信纸'},

                {id: 'domain/static|#sign|#sub_sign_content', text: '签名'},
                {id: 'domain/static|#sign|#sub_sign_content', text: '域签名'},
                {id: 'domain/static|#sign|#sub_sign_content', text: '超文本签名'},
                {id: 'domain/static|#sign|#sub_sign_content', text: '纯文本签名'},
                {id: 'domain/static|#sign|#sub_sign_template', text: '个人签名模板'},
                {id: 'domain/static|#sign|#sub_sign_template', text: '新邮件默认签名'},
                {id: 'domain/static|#sign|#sub_sign_template', text: '回复/转发默认签名'},
                {id: 'domain/static|#sign|#sub_sign_template', text: '新用户自动应用模板'},
                {id: 'domain/static|#sign|#sub_sign_template', text: '签名模板'},

                {id: 'domain/static|#module_made|#tabs_webmail', text: '前台模块管理'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '首页区'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '商务小工具栏目'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '万年历'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '万用计算器'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '城市地图'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '邮箱容量查看功能'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '天气预报功能'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '企业通讯录功能'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '公共通讯录功能'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '其他域通讯录共享功能'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '企业通讯录域组合'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '父部门中是否显示子部门邮件账号'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '网络硬盘功能'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '日程功能'},
                {id: 'domain/static|#module_made|#tabs_webmail', text: '便签功能'},

                {id: 'domain/static|#module_made|#send_mail_block', text: '发邮件区'},
                {id: 'domain/static|#module_made|#send_mail_block', text: '保存草稿功能'},
                {id: 'domain/static|#module_made|#send_mail_block', text: '发送邮件显示加密选项'},
                {id: 'domain/static|#module_made|#send_mail_block', text: '显示地址簿和信纸模块'},
                {id: 'domain/static|#module_made|#send_mail_block', text: '去掉信纸模块'},
                {id: 'domain/static|#module_made|#send_mail_block', text: '自动发送回执功能'},
                {id: 'domain/static|#module_made|#send_mail_block', text: '添加Reply-To到邮件头'},

                {id: 'domain/static|#module_made|#setting_block', text: '设置区'},
                {id: 'domain/static|#module_made|#setting_block', text: '个人资料功能'},
                {id: 'domain/static|#module_made|#setting_block', text: '密码修改功能'},
                {id: 'domain/static|#module_made|#setting_block', text: '参数设置功能'},
                {id: 'domain/static|#module_made|#setting_block', text: '邮件签名功能'},
                {id: 'domain/static|#module_made|#setting_block', text: '自动回复功能'},
                {id: 'domain/static|#module_made|#setting_block', text: '自动转发功能'},
                {id: 'domain/static|#module_made|#setting_block', text: '黑白名单功能'},
                {id: 'domain/static|#module_made|#setting_block', text: '设置自动转发默认值'},
                {id: 'domain/static|#module_made|#setting_block', text: '邮箱搬家功能'},
                {id: 'domain/static|#module_made|#setting_block', text: '邮箱意见反馈功能'},
                {id: 'domain/static|#module_made|#setting_block', text: '邮件召回记录查看'},
                {id: 'domain/static|#module_made|#setting_block', text: '邮件过滤功能'},
                {id: 'domain/static|#module_made|#setting_block', text: 'SMTP外发邮件中转'},

                {id: 'domain/static|#module_made|#other_block', text: '前台模块管理 - 杂项区'},
                {id: 'domain/static|#module_made|#other_block', text: '清空文件夹功能'},
                {id: 'domain/static|#module_made|#other_block', text: '代发邮件地址提醒'},
                {id: 'domain/static|#module_made|#other_block', text: '邮件内容中时间显示'},
                {id: 'domain/static|#module_made|#other_block', text: '用户积分功能'},
                {id: 'domain/static|#module_made|#other_block', text: '设置用户积分'},
                {id: 'domain/static|#module_made|#other_block', text: '部门邮件列表'},

                {id: 'domain/static|#tabs_public', text: '公共通讯录'},
                {id: 'domain/static|#tabs_public', text: '添加客户'},
                {id: 'domain/static|#tabs_public', text: '客户分类'},

                {id: 'domain/static|#tabs_secret', text: '密级管理'}


            ]
        }).on("change",function(){
            var id = $('#search_select2').val();
            if(id){
                if(id.indexOf('|')>0){
                    var arr = id.split('|');
                    console.log(arr);
                    $("a[href='"+arr[0]+"']").trigger('click');

                    setTimeout(function(){
                        $("a[href='"+arr[1]+"']").trigger('click');
                        if(arr[2]){
                            $("a[href='"+arr[2]+"']").trigger('click');
                        }
                    },300)
                }else{
                    if($("a[href='"+id+"']").parents('ul.submenu')&&$("a[href='"+id+"']").parents('ul.submenu').length>0){
                        if(!$("a[href='"+id+"']").parents('ul.submenu').parent().hasClass('open')){
                            $("a[href='"+id+"']").parents('ul.submenu').prev().prev().trigger('click');
                        }
                    }
                    $("a[href='"+id+"']").trigger('click');
                }
            }
        });
    </script>
    {% block my_jsblock %}{% endblock %}
    <script>
    $('#sidebar-collapse').click(function(){
            console.log($('#sidebar').hasClass('menu-min'))
            if($('#sidebar').hasClass('menu-min')){
                $('#sidebar').removeClass('menu-min')
                $('#sidebar-collapse').removeClass('fa-angle-double-right').addClass('fa-angle-double-left')
            }else{
                $('#sidebar').addClass('menu-min')
                $('#sidebar-collapse').removeClass('fa-angle-double-left').addClass('fa-angle-double-right')
            }

        })
    </script>

{% endblock %}
