{% load i18n %}
<div class="row">
    <div class="col-lg-12" style="margin-bottom: 10px">
        <div class="pull-right">
            <form id="search_form" class="form-inline pull-right" role="form" action="" style="text-align: left">
                {{ form }}
                <button type="submit" class="btn btn-primary btn-sm">{% trans "查询" %}</button>
            </form>
        </div>
    </div>
</div>

<div class="row" style="padding: 0px 13px 0px 13px;">
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
        <tr role="row">
            <th width="4%" class="">{% trans "序号" %}</th>
            <th>{% trans "openid/UserId" %}</th>
            <th>{% trans "微信模板ID" %}</th>
            <th>{% trans "模板数据" %}</th>
            <th>{% trans "返回地址" %}</th>
            <th>{% trans "接口调用时间" %}</th>
            <th>{% trans "微信发送时间" %}</th>
            <th>{% trans "状态" %}</th>
            <th>{% trans "调用者ip" %}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>