{% load i18n %}

<div class="row" style="padding: 0px 13px 0px 13px;">
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
        <tr role="row">
            <th width="4%" class="">{% trans "序号" %}</th>
            <th>{% trans "手机号" %}</th>
            <th>{% trans "发送验证码" %}</th>
            <th>{% trans "是否验证手机号" %}</th>
            <th>{% trans "类型" %}</th>
            <th>{% trans "验证码发送时间" %}</th>
            <th>{% trans "验证码验证时间" %}</th>
            <th>{% trans "ip" %}</th>
            <th>{% trans "备注" %}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
