{% load i18n %}
<div class="row" style="padding: 0px 13px 0px 13px;">

    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
        <tr role="row">
            <th width="4%" class="">{% trans "序号" %}</th>
            <th>{% trans "微信昵称（企业号为成员名）" %}</th>
            <th>{% trans "头像" %}</th>
            <th>{% trans "省份" %}</th>
            <th>{% trans "城市" %}</th>
            <th>{% trans "绑定的邮箱账号" %}</th>
            <th>{% trans "账号添加时间" %}</th>
            <th>{% trans "最近更新时间" %}</th>
            <th>{% trans "是否关注公众号（是否为企业号成员）" %}</th>
            <th>{% trans "关注公众号时间" %}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
