{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}
{% block title %} {% trans "屏蔽白名单" %} {% endblock %}
{% block breadcrumb %}
    <li> <a href="#">{% trans "动态屏蔽" %}</a> </li>
    <li class="active">{% trans "屏蔽白名单" %}</li>
{% endblock %}
{% block page-content %}
    <div class="row">
        <div class="col-lg-12"><h1 class="page-header">{% trans "屏蔽白名单信息" %}</h1></div>
    </div>

    <form role="form" action="" method="post">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default" style="margin-bottom: 0px!important;">
                    <div class="panel-heading">{% trans "屏蔽白名单信息" %}</div>
                    <div class="panel-body">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="btn btn-primary btn-sm">{% trans "确认" %}</button>
                        <button class="btn btn-sm" type="reset">{% trans "重置" %}</button>
                        <button type="button" class="btn btn-link btn-sm" onclick="location.href='{% url 'fail2ban_whitelist' %}'">{% trans "取消" %}</button>

                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
{% block css_block %}
{% endblock %}
{% block my_jsblock %}
    <script>
        $(function(){
            var path = "{% url 'fail2ban_rulelist' %}";
            $('#sidebar').find('[href="'+path+'"]').parent().first().addClass('active');
        });
    </script>
{% endblock %}
