{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "发信频率配置" %}{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}" />
<style>
    table tr td:nth-child(1),table tr td:nth-child(3){
        text-align: right;
    }
    table tr td:nth-child(1) label,table tr td:nth-child(3) label{
        text-align: right;
        font-weight:bold;
    }
</style>
{% endblock %}

{% block breadcrumb %}
    <li> <a href="{% url 'security_frequency' %}">{% trans "发信频率配置" %}</a> </li>
{% endblock %}

{% block page-content %}
<div id="dynamic-div">
    <h3 class="header smaller lighter blue"><span class="red">{% trans "发信频率设置" %}</span></h3>

    <div class="table-header">{% trans "发信频率设置" %}</div>
    <div>
        <form class="form-horizontal" role="form" name="form_select" action="" method="POST">
            {% csrf_token %}
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td class="text-right">{% trans "速率：" %}</td>
                <td class="row">
                    <div class="col-sm-12">
                        {% trans "每" %}
                        <input type="number" name="minute" value="{{ form.minute.value }}" id="id_minute" style="max-width:50px;">
                        {% trans "分钟发信数量" %}
                        <input type="number" name="count" value="{{ form.count.value }}" id="id_minute_count" >
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-right"> {% trans "每小时发信数量：" %}</td>
                <td class="row">
                    <div class="col-sm-4">
                        <input type="number" name="hour_count" id="id_hour_count" value="{{ form.hour_count.value }}" class=" form-control max-width-200">

                    </div>
                    <div class="col-sm-8">
                        <div style="clear: both">
                            <span class="middle text-success "><strong style="color: red">{% trans "注：" %}</strong> {% trans "输入" %}&lt;={% trans "0的值代表不限制 " %}</span>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td class="text-right"> {% trans "每天发信数量：" %}</td>
                <td class="row">
                    <div class="col-sm-4">
                        <input type="number" name="day_count" id="id_day_count" value="{{ form.day_count.value }}" class="form-control max-width-200">

                    </div>
                    <div class="col-sm-8">
                        <div style="clear: both">
                            <span class="middle text-success "><strong style="color: red">{% trans "注：" %}</strong> {% trans "输入" %}&lt;={% trans "0的值代表不限制 " %}</span>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td class="text-right">{% trans "超限操作：" %}</td>
                <td>
                    <label class="radio radio-inline padding-top-0 margin-top-0 form-inline">
                        <label>
                            <input type="radio" name="operate" value="block" {% if form.operate.value == 'block'  %} checked="" {% endif %}><span>{% trans "只可发送本地邮件" %}</span>
                        </label>
                        <!-- {% trans "去掉与组权限冲突的选项" %}
                        <label>
                            <input type="radio" name="operate" value="disable" {% if form.operate.value != 'block'  %} checked="" {% endif %}><span>{% trans "永久禁用外发" %}</span>
                        </label>
                        -->
                    </label>
                </td>
            </tr>
            <tr>
                <td class="text-right">{% trans "警告邮件接收地址：" %}</td>
                <td class="row">
                    <div class="col-sm-4" style="margin-top:20px;">
                        <input type="text" name="alert_address" id="id_alert_address" value="{{ form.alert_address.value }}" class="form-control max-width-200">

                    </div>
                    <div class="col-sm-8">
                        <ul class="middle text-success ">
                            <li>
                                <b class="red">{% trans "注：" %}</b>{% trans "达到上限的帐号会触发一次警告，此栏不填表明不需要接收系统的警告邮件,多个帐号之间用','分隔，可输入外域邮箱；" %}
                            </li>
                            <li>
                                {% trans "同一个帐号每小时只会触发一次邮件警告；" %}
                            </li>
                            <li>
                                {% trans "保存'域名功能设置'下的任意页面，都可以重置警告邮件的发送CD。" %}
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-right">{% trans "发信频率限制：" %}</td>
                <td class="row">
                    <div class="col-sm-4" style="margin-top: 16px;">
                        <label class="inline" >
                            <input name="sw_sendlimit" type="checkbox" value= '1' {% if form.sw_sendlimit.value == '1'  %} checked="" {% endif %} class="ace ace-switch ace-switch-5">
                            <span class="lbl"></span>
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <ul class="middle text-success " style=" list-style:none;padding:0;margin:0;">
                            <li>
                                <strong style="color: red">{% trans "注：" %}</strong> {% trans "此功能开启并做适当设置可以防范账户密码泄露造成的系统性风险" %}；
                            </li>
                            <li style="text-indent: 2.2em;">
                                {% trans "此功能开启并做适当设置可以防止用户对外大量群发邮件" %}；
                            </li>
                            <li style="text-indent: 2.2em;">
                                {% trans "本功能只对发往外域（非本服务器）的邮件进行计数。" %}
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="clearfix form-actions">
                <div>
                <input type="hidden" value="{{ domain.id }}" name="domain_id" id="domain_id" />
                </div>
                <div class=" text-center">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        {% trans "保存" %}
                    </button>
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        {% trans "重置" %}
                    </button>

                </div>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}

