{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}
{% block title %} {% trans "弱密码导入" %} {% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block page-content %}
    <div class="row">
        <div class="col-lg-12"><h1 class="page-header">{% trans "弱密码导入" %}</h1></div>
    </div>

    <form role="form" action="" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default" style="margin-bottom: 0px!important;">
                    <div class="panel-body">
                        <p class="help-block">
                           <span class="text-success"><span style="color:blue">文件格式说明: </span><br>
                            每一行为一个密码，最大长度32<br>
                            </span>
                            <textarea style="word-break: normal;width: 800px;" rows="3">
123456
654321
password
                            </textarea>
                        </p>
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="btn btn-primary btn-sm">{% trans "确认" %}</button>
                        <button class="btn btn-sm" type="reset">{% trans "重置" %}</button>
                        <button type="button" class="btn btn-link btn-sm" onclick="location.href='{% url 'password_weaklist' %}'">{% trans "取消" %}</button>

                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
{% block css_block %}
{% endblock %}
{% block my_jsblock %}
    <script>
        $(function(){
            var path = "{% url 'password_weaklist' %}";
            $('#sidebar').find('[href="'+path+'"]').parent().first().addClass('active');
        });
    </script>
{% endblock %}
