{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}
{% block title %} {% trans "组配置" %} {% endblock %}
{% block breadcrumb %}<li> <a href="#">{% trans "组配置" %}</a> </li><li class="active">{% trans "组配置信息" %}</li>{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-lg-12"><h1 class="page-header">{% trans "组配置信息" %}</h1></div>
    </div>
    <form role="form" action="" method="post" class="form-horizontal">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="panel panel-default" style="margin-bottom: 0px!important;">
                    <div class="panel-heading">{% trans "组配置信息" %}</div>
                    <div class="panel-body">
                        {% csrf_token %}
                        <div id="edit_email_tabs" style="margin-bottom: 13px">
                            <ul>
                                <li>
                                    <a href="#group_info1">{% trans '组信息' %}</a>
                                </li>
                            </ul>
                            <div id="group_info1">
                                <div class="row">
                                    <div class="col-sm-10">
                                        {{ form.domain_id }}
                                        {{ form.name|bootstrap_horizontal:"col-sm-3 col-lg-3" }}
                                        {{ form.description|bootstrap_horizontal:"col-sm-3 col-lg-3" }}
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-sm">{% trans "确认" %}</button>
                        <button class="btn btn-sm" type="reset">{% trans "重置" %}</button>
                        <button type="button" class="btn btn-link btn-sm" onclick="location.href='{% url 'core_group_list' %}'">{% trans "取消" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
{% block css_block %}
    <link href="{% static "components/datetimepiker/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
    <style>
    .email_box_tree{display:none;}
    .email_box_tree.active{display:block;}
    #deptNames{
        border:1px solid #eaeaea;
    }
    #deptNames>div{
        margin:2px 0;
    }
    #deptNames>div:hover .bgblue{
        background:#2aabd2;
    }
    .dept_list{
        display:none;
    }
    .dept_list.active{
        display:block;
    }
    </style>
{% endblock %}
{% block my_jsblock %}
    <script src="{% static 'assets/js/fuelux/fuelux.tree.js' %}" ></script>
    <script src="{% static 'assets/js/jquery-ui.custom.js' %}" ></script>
    <script src="{% static 'assets/js/jquery.ui.touch-punch.js' %}" ></script>
    <script src="{% static 'assets/js/jquery-ui.js' %}" ></script>
    <script src="{% static "components/datetimepiker/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "components/datetimepiker/bootstrap-datetimepicker.zh-CN.js" %}"></script>

    <script>
        $('.limit_send_select').change(function(){
            if($(this).val()=='3'){
                $(this).next().show();
            }else{
                $(this).next().hide();
            }
        })
        function clickLimitSendDelete(type, num){
            var entry = "id_" + type + "_row_" + num;
            var entry_val = "id_" + type + "_delete_" + num;
            $("#"+entry_val).val("1");
            $("#"+entry).addClass("display-none");
        }
    </script>

    <script>
        $(function(){
            var path = "{% url 'core_group_list' %}";
            $('#sidebar').find('[href="'+path+'"]').parent().first().addClass('active');
        });
    </script>

    <script>
        $('#edit_email_tabs').tabs();
        var passobj = $('#{{ form.passwd_start.auto_id }}').parent();
        var template = passobj.html();
        var template2 = '<div class="input-group">' + template + '<span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span></div>'
        passobj.html(template2);
        $('#{{ form.passwd_start.auto_id }}').datetimepicker({
            format: 'yyyy-mm-dd hh:ii:00',
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            // minView: 2,
            pickerPosition: "top-right",
        });
    </script>

    <script>
    $('[name="oab_show_mod"]').click(function(){
        if($(this).val()==4){
            $('.dept_list').addClass('active')
        }else{
            $('.dept_list').removeClass('active')
        }
    })
        function demoinitdept(treeid,treeparentid,inputparentid,deptArr){
        var treeEle;
        $(treeid).removeData("fu.tree");
        $(treeid).unbind('click.fu.tree');
        function initdepttree(deptArr){
            var sampleData = initiateDemoData(deptArr);
            treeEle = $(treeid).ace_tree({
                dataSource: sampleData['dataSource1'],
                multiSelect: false,
                loadingHTML: '<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
                'open-icon' : 'ace-icon tree-minus hide',
                'close-icon' : 'ace-icon tree-plus hide',
                'selectable' : true,
                'selected-icon' : 'ace-icon fa fa-check',
                'unselected-icon' : 'ace-icon fa fa-times',
                'cacheItems': true,
                'folderSelect': true,
                'folder-open-icon' : 'ace-icon tree-plus',
                'folder-close-icon' : 'ace-icon tree-minus'
            });

            $(treeid).tree('discloseAll');
            $(treeid).tree('closeAll');

            //默认选中节点
            function test(ele){
                if(ele.parent().parent().hasClass('tree-branch')){
                    ele.parent().parent().find('>i').click();
                    test(ele.parent().parent())
                }
            }

            $(treeid).find('.tree-branch,.tree-item').each(function(i,dom){
                //        if($(this).data().id == ccid){
                //            $(this).addClass('active-header');
                //            $(this).find('>i').click()
                //            test($(this));
                //        }
            })
        }
        initdepttree(deptArr);
        $(treeparentid+' .search_input').keyup(function(){
            var keywords = $(this).val();
            $(treeid).removeData("fu.tree");
            $(treeid).unbind('click.fu.tree');
            if(keywords.length>0){
                var initArr = deptArr;
                var reg = new RegExp(keywords, 'i');
                var arr = [];
                var textname = '';
                function getp(id){
                    for(var i=0;i<initArr.length;i++){
                        var a = initArr[i]['id'];
                        var pp = initArr[i]['parent'];
                        var n = initArr[i]['name'];
                        if(a == id){
                            textname += " -- " + n;
                            if(pp>0){
                                getp(pp);
                            }
                        }
                    }
                }
                for(var key in initArr){
                    if(initArr[key]['name'].match(reg)){
                        if(initArr[key]['parent']>0){
                            textname += initArr[key]['name'];
                            getp(initArr[key]['parent']);
                            var obj = {child:0,parent:0,name:textname,id:initArr[key]['id']};
                            textname = '';
                        }else{
                            var obj = {child:0,parent:0,name:initArr[key]['name'],id:initArr[key]['id']};
                        }
                        arr.push(obj);
                    }
                }
                initdepttree(arr)
            }else{
                initdepttree(deptArr);
            }
        })

        function initiateDemoData(deptArr){
            var tree_data = {};
            for(var i=0;i<deptArr.length;i++){
                if(deptArr[i].parent<=0){
                    if(deptArr[i].child&&deptArr[i].child>0){
                        tree_data[deptArr[i].name] = {text:deptArr[i].name,type:"folder",id:deptArr[i].id};
                        tree_data[deptArr[i].name]['additionalParameters']={"children":getSubDate(deptArr[i].id)};
                    }else{
                        tree_data[deptArr[i].name] = {text:deptArr[i].name,type:"item",id:deptArr[i].id};
                    }
                }
            }

            function getSubDate(pid){
                var obj = {};
                for(var i=0;i<deptArr.length;i++){
                    if(deptArr[i]['parent'] == pid){
                        if(deptArr[i].child&&deptArr[i].child>0){
                            obj[deptArr[i].name] = {text:deptArr[i].name,type:"folder",id:deptArr[i].id,child:deptArr[i].child}
                        }else{
                            obj[deptArr[i].name] = {text:deptArr[i].name,type:"item",id:deptArr[i].id,child:deptArr[i].child}
                        }

                    }
                }
                return obj;
            }
            function getAdditionalParameters(arr){
                for(var key in arr){
                    if(arr[key]['type']=="folder"){
                        arr[key]['additionalParameters']={"children":getSubDate(arr[key]['id'])};
                        if(arr[key]['additionalParameters']["children"]){
                            getAdditionalParameters(arr[key]['additionalParameters']["children"])
                        }
                    }
                }
            }
            getAdditionalParameters(tree_data);
            var dataSource1 = function(options, callback){
                var $data = null
                if(!("text" in options) && !("type" in options)){
                    $data = tree_data;//the root tree
                    callback({ data: $data });
                    return;
                }
                else if("type" in options && options.type == "folder") {
                    if("additionalParameters" in options && "children" in options.additionalParameters)
                        $data = options.additionalParameters.children || {};
                    else $data = {}//no data
                }
                if($data != null)//this setTimeout is only for mimicking some random delay
                    callback({ data: $data });
            }
            return {'dataSource1': dataSource1}
        }

        $(treeid).on('click','.tree-item,.tree-branch-header',function(){
            $(treeid+' .tree-selected').removeClass('tree-selected');
            if($(this).hasClass('tree-branch-header')){
                $(this).parent().addClass('tree-selected');
            }else{
                $(this).addClass('tree-selected');
            }
            $(treeparentid).removeClass('active');
            var o = treeEle.tree('selectedItems')[0];
            $(treeparentid).parent().find('.department_choice').val(o.text);
            $(treeparentid).parent().find('.id_dept_id').val(o.id);
        })
        $(treeparentid+' .close_btn').click(function(){
             $(treeparentid).removeClass('active');
        })
        $('body').click(function(e){
            var $parents = $(e.target).parents(treeparentid);
            if(!$(e.target).hasClass('department_choice') && $parents.length<1){
                $(treeparentid).removeClass('active');
            }
        })
        $(inputparentid + ' .department_choice').click(function(){
            $(treeparentid).addClass('active');
        })
        $(inputparentid + ' .clear_dept').click(function(){
            $(inputparentid + ' .department_choice').val('');
            $(inputparentid + ' .id_dept_id').val('');
        })
    }
        // deptArr 为初始化获得的部门数据
        var deptArr = [
            {id:1,parent:0,name:"部门1",child:2},
            {id:2,parent:1,name:"部门2",child:1},
            {id:3,parent:2,name:"部门3",child:0},
            {id:4,parent:1,name:"部门4",child:0},
            {id:5,parent:2,name:"部门5",child:0},
            {id:6,parent:0,name:"部门6",child:0}
        ];
        $.ajax({
            url:"{% url 'choose_mailbox_list' %}",
            type:"POST",
            data:{action:"dept_list"},
            success:function(data){
                console.log(data);
                deptArr = data.dept;
                demoinitdept("#tree","#tree_box","#input_box",deptArr);
            }
        })

        var alreadyDeptList = '';
        var idArr = [];
        var hashId = [];
        var alreadyDeptArr = [];
        function formatStr(arr){
            for(var i=0,html='';i<arr.length;i++){
                var o = arr[i]
                html += '<tr><td>'+o["name"]+'</td><td class="text-center"><button type="button" class="btn btn-warning btn-xs dept_delete_btn" data_id="'+o["id"]+'">{% trans "删除" %}</button></td></tr>'
            }
            $('#deptNames').html(html);
        }
    </script>

{% endblock %}
