{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "邮件队列" %} {% endblock %}

{% block breadcrumb %}
    <li> <a href="#">{% trans "系统维护" %}</a> </li>
    <li> <a href="#">{% trans "邮件队列" %}</a> </li>
    <li class="active">
        {% if mail_flag == 'isolate' %}
            {% if request.GET.mail_status == 'wait' or not request.GET.mail_status %}
                {% trans "隔离邮件" %}
                {% elif request.GET.mail_status == 'stop' %}
                {% trans "确认隔离邮件" %}
                {% elif request.GET.mail_status == 'pass' %}
                {% trans "确认放行邮件" %}
            {% endif %}
        {% elif mail_flag == 'in' %}
            {% trans "入站队列" %}
            {% elif mail_flag == 'out' %}
            {% trans "出站队列" %}
        {% endif %}
    </li>
{% endblock %}

{% block page-content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{% trans "邮件队列" %}
                    <small><i class="ace-icon fa fa-angle-double-right"></i>
                        {% if mail_flag == 'isolate' %}
                            {% if request.GET.mail_status == 'wait' or not request.GET.mail_status %}
                                {% trans "隔离邮件" %}
                                {% elif request.GET.mail_status == 'stop' %}
                                {% trans "确认隔离邮件" %}
                                {% elif request.GET.mail_status == 'pass' %}
                                {% trans "确认放行邮件" %}
                            {% endif %}
                        {% elif mail_flag == 'in' %}
                            {% trans "入站队列" %}
                            {% elif mail_flag == 'out' %}
                            {% trans "出站队列" %}
                        {% endif %}
                    </small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <ul class="nav nav-tabs" id="myTab">
                <li class="{% if mail_flag == 'out' %}active{% endif %}">
                    <a href="{% if mail_flag == 'out' %}#{% else %}{% url 'queues_out' %}{% endif %}">
                        {% if mail_flag == 'out' %}<i class="green ace-icon fa fa-home bigger-120"></i>{% endif %}
                        {% trans "出站队列" %}
                    </a>
                </li>

                <li class="{% if mail_flag == 'in' %}active{% endif %}">
                    <a href="{% if mail_flag == 'in' %}#{% else %}{% url 'queues_in' %}{% endif %}">
                        {% if mail_flag == 'in' %}<i class="green ace-icon fa fa-home bigger-120"></i>{% endif %}
                        {% trans "入站队列" %}
                    </a>
                </li>

                <li class="{% if mail_flag == 'isolate' %}active{% endif %}">
                    <a href="{% if mail_flag == 'isolate' %}#{% else %}{% url 'isolate_list' %}{% endif %}">
                        {% if mail_flag == 'isolate' %}<i class="green ace-icon fa fa-home bigger-120"></i>{% endif %}
                        {% trans "隔离邮件" %}
                    </a>
                </li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane fade in active">
                    {% if mail_flag == 'isolate' %}
                        {% include 'maintain/include/isolate.html' %}
                    {% else %}
                        {% include 'maintain/include/queues.html' %}
                    {% endif %}
                </div>
            </div>


        </div>
    </div>

    <input type="hidden" id="modal_id" name="modal_id" />
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-llg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "加载中" %}</h4>
                </div>
                <div class="modal-body">
                    {% trans "页面加载中" %}
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal_close" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'components/_mod/jquery-ui.custom/jquery-ui.custom.css' %}" />
    <link href="{% static 'components/datatables/media/css/dataTables.bootstrap.css' %}">
    <style>
        .dataTables_length{  margin-top: 13px;  }
        .dataTables_filter{  margin-top: 13px;  }
        table tr.even.row_selected td {  background-color: #B0BED9;  }
        table tr.odd.row_selected td {  background-color: #9FAFD1;  }
        .min-width-th{
            min-width:70px;
        }
    </style>
{% endblock %}

{% block my_jsblock %}
    <script src="{% static 'components/datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'components/_mod/datatables/jquery.dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'components/_mod/jquery-ui.custom/jquery-ui.custom.js' %}"></script>

    <script>
        $(function(){
            var path = "{% url 'queues_out' %}";
            $('#sidebar').find('[href="'+path+'"]').parent().first().addClass('active');
        });

        $('#myModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var isolate_id = button.data('whatever') // Extract info from data-* attributes
            $('#modal_id').val(isolate_id);
            $(this).removeData('bs.modal');
        })
    </script>

    <script>

        {% if mail_flag == 'isolate' %}
            function changeStatus(status){
                var id_array = fnGetSelected();

                if (id_array.length == 0){
                    alert("{% trans "请选择要处理的邮件！" %}");
                    return false;
                }

                var str = "{% trans "是否确认此操作？" %}";
                if ( status == "permit" ){
                    str = "{% trans "您确定要放行" %} " + id_array.length + " {% trans "个邮件？" %}";
                } else if ( status == "whitelist" ){
                    str = "{% trans "您确定放行通过所选邮件并将发信地址加入白名单吗？" %}";
                } else if ( status == "whitelist2" ){
                    str = "{% trans "您确定放行通过所选邮件并将发信域名加入白名单吗？" %}";
                } else if ( status == "permit" ){
                    str = "{% trans "c确认隔离" %} " + id_array.length + " {% trans "个邮件？" %}";
                }

                if ( !confirm(str) ) {
                    return false;
                } else {
                    $('#ids').val(id_array);
                    $('#status').val(status);
                    $('#id_form').submit();
                }
            }

            var ip_table;
            $(function () {
                var ajax_url = "{% url 'isolate_ajax' %}" + window.location.search;
                ip_table = $('#dynamic-table').dataTable({
                    "columnDefs": [ { "targets": [ 0 ], "visible": false, "searchable": false }],
                    "iDisplayLength": 25,
                    "processing": false,
                    "serverSide": true,
                    "autoWidth" : true,
                    "bAutoWidth": false,
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    "ajax": ajax_url,
                    "aaSorting": [
                        [ 1, "desc" ]
                    ],
                    "oLanguage": {
                        "sLengthMenu": "{% blocktrans %}显示 _MENU_ 每页{% endblocktrans %}",
                        "sZeroRecords": "{% blocktrans %}对不起! 信息筛选结果为空!{% endblocktrans %}",
                        "sInfo": "{% blocktrans %}从 _START_ 到 _END_ 总计: _TOTAL_ 条记录{% endblocktrans %}",
                        "sInfoEmpty": "{% blocktrans %}总计: 0 条记录{% endblocktrans %}",
                        "sInfoFiltered": "{% blocktrans %}(从 _MAX_ 条记录筛选出){% endblocktrans %}",
                        "sSearch": "{% blocktrans %}搜索: {% endblocktrans %}",
                        "oPaginate": {
                            "sFirst":    " {% blocktrans %}第一页{% endblocktrans %} ",
                            "sPrevious": " {% blocktrans %}上一页{% endblocktrans %} ",
                            "sNext":     " {% blocktrans %}下一页{% endblocktrans %} ",
                            "sLast":     " {% blocktrans %}最后一页{% endblocktrans %} "
                        }
                    },
                    // "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+ "t"+ "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",

                    "drawCallback": function(oSettings, json) {
                        $('#dynamic-table tr').click( function() {
                            if ( $(this).hasClass('row_selected') )
                                $(this).removeClass('row_selected');
                            else
                                $(this).addClass('row_selected');
                        } );
                    },

                });
            });

            $.fn.dataTableExt.oApi.fnGetFilteredNodes = function ( oSettings ) {
                var anRows = [];
                var length = oSettings.aiDisplay.length;
                for ( var i=0, iLen=length ; i<iLen ; i++ ) {
                    var nRow = oSettings.aoData[ oSettings.aiDisplay[i] ].nTr;
                    anRows.push( nRow );
                }
                return anRows;
            };

            function fnGetAll() {
                var aTrs = ip_table.fnGetFilteredNodes();
                for ( var i=0 ; i<aTrs.length ; i++ ) {
                    if ( !$(aTrs[i]).hasClass('row_selected') )
                        $(aTrs[i]).addClass('row_selected');
                }
            }

            function fnGetReverse() {
                var aTrs = ip_table.fnGetFilteredNodes();
                for (var i=0 ; i<aTrs.length ; i++ ) {
                    if ( $(aTrs[i]).hasClass('row_selected') ) {
                        $(aTrs[i]).removeClass('row_selected');
                    }
                }
            }

            function fnGetSelected() {
                var aReturn = new Array();
                var aTrs = ip_table.fnGetFilteredNodes();
                for ( var i=0 ; i<aTrs.length ; i++ ) {
                    if ( $(aTrs[i]).hasClass('row_selected') ) {
                        var aData = ip_table.fnGetData( aTrs[i]);
                        var iId = aData[0];
                        aReturn.push( iId );
                    }
                }
                return aReturn;
            }
        {% else %}
            $(function () {
                ip_table =
                    $('#dynamic-table').dataTable({
                        "bAutoWidth": false,
                        "aaSorting": [],
                        "drawCallback": function( settings ) {
                            $('#dynamic-table tr').click(function () {
                                if ($(this).hasClass('selected'))
                                    $(this).removeClass('selected');
                                else
                                    $(this).addClass('selected');
                            });
                        },
                        // select: { style : 'multi' },
                        "iDisplayLength": 20,
                        "lengthMenu": [10, 15, 20, 50, 100, 200],
                        "aaSorting": [[0, "asc"]],
                        "oLanguage": {
                            "sLengthMenu": "{% blocktrans %}显示 _MENU_ 每页{% endblocktrans %}",
                            "sZeroRecords": "{% blocktrans %}对不起! 信息筛选结果为空!{% endblocktrans %}",
                            "sInfo": "{% blocktrans %}从 _START_ 到 _END_ 总计: _TOTAL_ 条记录{% endblocktrans %}",
                            "sInfoEmpty": "{% blocktrans %}总计: 0 条记录{% endblocktrans %}",
                            "sInfoFiltered": "{% blocktrans %}(从 _MAX_ 条记录筛选出){% endblocktrans %}",
                            "sSearch": "{% blocktrans %}搜索: {% endblocktrans %}",
                            "oPaginate": {
                                "sFirst": " {% blocktrans %}第一页{% endblocktrans %} ",
                                "sPrevious": " {% blocktrans %}上一页{% endblocktrans %} ",
                                "sNext": " {% blocktrans %}下一页{% endblocktrans %} ",
                                "sLast": " {% blocktrans %}最后一页{% endblocktrans %} "
                            }
                        },
                    });
            });
        {% endif %}

    </script>

{% endblock %}