{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}
{% block title %}{% if obj %} {% trans "修改" %}  {% else %} {% trans "添加" %} {% endif %}{% endblock %}
{% block breadcrumb %}
    <li> <a href="#">{% trans "邮件数据导入" %}</a> </li>
    <li class="active">{% if obj %} {% trans "修改" %}  {% else %} {% trans "添加" %} {% endif %}</li>
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% if obj %} {% trans "修改" %}  {% else %} {% trans "添加" %} {% endif %}
            </h1>
        </div>
    </div>

    <form role="form" action="" method="post">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="panel panel-default" style="margin-bottom: 0px!important;">
                    <div class="panel-heading"> {% if obj %}{% trans "修改" %} {% else %}{% trans "添加" %}{% endif %}</div>
                    <div class="panel-body">
                        {% csrf_token %}

                        {{ form.mailbox_id|bootstrap }}
                        {{ form.src_server|bootstrap }}
                        {{ form.src_mailbox|bootstrap }}
                        {% if form.instance.pk %}
                            <div class="form-group">
                                <label class="control-label  " for="id_ssl">密码（保存值为'{PASSWORD}'时，会取本地帐号的登陆密码）</label>
                                <div class=" ">
                                    <input type="password" class="form-control" name="src_password" value="{{ form.src_password.value }}" class="col-xs-10 col-sm-5">
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label class="control-label  " for="id_ssl">密码（保存值为'{PASSWORD}'时，会取本地帐号的登陆密码）</label>
                                <div class=" ">
                                    <input type="text" class="form-control" name="src_password" value="{{ form.default_src_password }}" class="col-xs-10 col-sm-5">
                                </div>
                            </div>
                        {% endif %}
                        {% if form.instance.pk %}
                            {{ form.ssl|bootstrap }}
                        {% else %}
                            <div class="form-group">
                                <label class="control-label  " for="id_ssl">SSL访问</label>
                                <div class=" ">
                                    <select name="ssl" class=" form-control" id="id_ssl">
                                      <option value="1" {% if form.default_ssl == "1" %} selected {% endif %}>启用</option>
                                      <option value="-1" {% if form.default_ssl != "1" %} selected {% endif %}>不启用</option>
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                        {{ form.disabled|bootstrap }}

                        <button type="submit" class="btn btn-primary btn-sm">{% trans "确认" %}</button>
                        <button class="btn btn-sm" type="reset">{% trans "重置" %}</button>
                        <button type="button" class="btn btn-link btn-sm" onclick="location.href='{% url 'mail_moving' %}'">{% trans "取消" %}</button>

                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block css_block %}
{% endblock %}

{% block my_jsblock %}
    <script src="{% static 'assets/js/select2.js' %}"></script>
    <script>
        $(function(){
            var path = "{% url 'mail_moving' %}";
            $('#sidebar').find('[href="'+path+'"]').parent().first().addClass('active');

            $("#{{ form.mailbox_id.auto_id }}").select2({
                language: { noResults: function (params) {
                        return "{% trans "暂无数据" %}";
                    }
                }
            });

        });
    </script>
{% endblock %}
