{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}
{% block title %}{% if obj %} {% trans "修改" %}  {% else %} {% trans "添加" %} {% endif %}{% endblock %}
{% block breadcrumb %}
    <li> <a href="#">{% trans "系统维护" %}</a> </li>
    <li>{% trans "微信版管理" %}</li>
    <li class="active">{% if obj %} {% trans "微信消息模板修改" %}  {% else %} {% trans "微信消息模板添加" %} {% endif %}</li>
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% if obj %} {% trans "微信消息模板修改" %}  {% else %} {% trans "微信消息模板添加" %} {% endif %}
            </h1>
        </div>
    </div>

    <form role="form" action="" method="post">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="panel panel-default" style="margin-bottom: 0px!important;">
                    <div class="panel-heading"> {% if obj %} {% trans "微信消息模板修改" %}  {% else %} {% trans "微信消息模板添加" %} {% endif %}</div>
                    <div class="panel-body">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="btn btn-primary btn-sm">{% trans "确认" %}</button>
                        <button class="btn btn-sm" type="reset">{% trans "重置" %}</button>
                        <button type="button" class="btn btn-link btn-sm" onclick="location.href='{% url 'wechat_template' %}'">{% trans "取消" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block css_block %}
{% endblock %}

{% block my_jsblock %}
    <script src="{% static 'assets/js/select2.js' %}"></script>
    <script>
        $(function(){
            var path = "{% url 'wechat_conf' %}";
            $('#sidebar').find('[href="'+path+'"]').parent().first().addClass('active');
        });
    </script>
{% endblock %}