{% load i18n %}
<div class="auto_box">
        <div class="table-responsive">
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr role="row">
                        <th>{% trans "SMTP/IMAP/POP" %}</th>
                        <th>{{save_days}}{% trans "天总计" %}</th>
                        <th>{% trans "7天总计" %}</th>
                        <th>{% trans "今日" %}</th>
                        <th>{% trans "昨日" %}</th>
                        <th>{% trans "2日之前" %}</th>
                        <th>{% trans "3日之前" %}</th>
                        <th>{% trans "4日之前" %}</th>
                        <th>{% trans "5日之前" %}</th>
                        <th>{% trans "6日之前" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> {% trans "SMTP邮件(收信) " %}</td>
                        <td> {{ smtp_in.stat_total }} </td>
                        <td> {{ smtp_in.stat_week }} </td>
                        <td> {{ smtp_in.stat_today }} </td>
                        <td> {{ smtp_in.stat_1 }} </td>
                        <td> {{ smtp_in.stat_2 }} </td>
                        <td> {{ smtp_in.stat_3 }} </td>
                        <td> {{ smtp_in.stat_4 }} </td>
                        <td> {{ smtp_in.stat_5 }} </td>
                        <td> {{ smtp_in.stat_6 }} </td>
                    </tr>
                    <tr>
                        <td> {% trans "SMTP邮件(发信) " %}</td>
                        <td> {{ smtp_out.stat_total }} </td>
                        <td> {{ smtp_out.stat_week }} </td>
                        <td> {{ smtp_out.stat_today }} </td>
                        <td> {{ smtp_out.stat_1 }} </td>
                        <td> {{ smtp_out.stat_2 }} </td>
                        <td> {{ smtp_out.stat_3 }} </td>
                        <td> {{ smtp_out.stat_4 }} </td>
                        <td> {{ smtp_out.stat_5 }} </td>
                        <td> {{ smtp_out.stat_6 }} </td>
                    </tr>
                    <tr>
                        <td> {% trans "IMAP会话 " %}</td>
                        <td> {{ imap_session.stat_total }} </td>
                        <td> {{ imap_session.stat_week }} </td>
                        <td> {{ imap_session.stat_today }} </td>
                        <td> {{ imap_session.stat_1 }} </td>
                        <td> {{ imap_session.stat_2 }} </td>
                        <td> {{ imap_session.stat_3 }} </td>
                        <td> {{ imap_session.stat_4 }} </td>
                        <td> {{ imap_session.stat_5 }} </td>
                        <td> {{ imap_session.stat_6 }} </td>
                    </tr>
                    <tr>
                        <td> {% trans "POP3会话 " %}</td>
                        <td> {{ pop3_session.stat_total }} </td>
                        <td> {{ pop3_session.stat_week }} </td>
                        <td> {{ pop3_session.stat_today }} </td>
                        <td> {{ pop3_session.stat_1 }} </td>
                        <td> {{ pop3_session.stat_2 }} </td>
                        <td> {{ pop3_session.stat_3 }} </td>
                        <td> {{ pop3_session.stat_4 }} </td>
                        <td> {{ pop3_session.stat_5 }} </td>
                        <td> {{ pop3_session.stat_6 }} </td>
                    </tr>
                    </tbody>
                </table>
            </div>
</div>

<div class="auto_box">
        <div class="table-responsive">
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr role="row">
                        <th>{% trans "垃圾/病毒邮件" %}</th>
                        <th>{{save_days}}{% trans "天总计" %}</th>
                        <th>{% trans "7天总计" %}</th>
                        <th>{% trans "今日" %}</th>
                        <th>{% trans "昨日" %}</th>
                        <th>{% trans "2日之前" %}</th>
                        <th>{% trans "3日之前" %}</th>
                        <th>{% trans "4日之前" %}</th>
                        <th>{% trans "5日之前" %}</th>
                        <th>{% trans "6日之前" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> {% trans "已接收的垃圾邮件 " %}</td>
                        <td> {{ spam_receive.stat_total }} </td>
                        <td> {{ spam_receive.stat_week }} </td>
                        <td> {{ spam_receive.stat_today }} </td>
                        <td> {{ spam_receive.stat_1 }} </td>
                        <td> {{ spam_receive.stat_2 }} </td>
                        <td> {{ spam_receive.stat_3 }} </td>
                        <td> {{ spam_receive.stat_4 }} </td>
                        <td> {{ spam_receive.stat_5 }} </td>
                        <td> {{ spam_receive.stat_6 }} </td>
                    </tr>
                    <tr>
                        <td> {% trans "已拒绝的垃圾邮件 " %}</td>
                        <td> {{ spam_reject.stat_total }} </td>
                        <td> {{ spam_reject.stat_week }} </td>
                        <td> {{ spam_reject.stat_today }} </td>
                        <td> {{ spam_reject.stat_1 }} </td>
                        <td> {{ spam_reject.stat_2 }} </td>
                        <td> {{ spam_reject.stat_3 }} </td>
                        <td> {{ spam_reject.stat_4 }} </td>
                        <td> {{ spam_reject.stat_5 }} </td>
                        <td> {{ spam_reject.stat_6 }} </td>
                    </tr>
                    <tr>
                        <td> {% trans "已拒绝的病毒邮件 " %}</td>
                        <td> {{ spam_virus.stat_total }} </td>
                        <td> {{ spam_virus.stat_week }} </td>
                        <td> {{ spam_virus.stat_today }} </td>
                        <td> {{ spam_virus.stat_1 }} </td>
                        <td> {{ spam_virus.stat_2 }} </td>
                        <td> {{ spam_virus.stat_3 }} </td>
                        <td> {{ spam_virus.stat_4 }} </td>
                        <td> {{ spam_virus.stat_5 }} </td>
                        <td> {{ spam_virus.stat_6 }} </td>
                    </tr>
                    </tbody>
                </table>
            </div>
</div>
