{% load i18n %}
<td>{{ d.id }}</td>
<td>{{ number }}</td>
<td>{{ d.address }}</td>
{% if not is_everyone %}
    <td>{{ d.get_permit_display }}</td>
    <td>{{ d.updated }}</td>
    <td>{{ d.name }}</td>
{% endif %}
<td>
    {% if not is_everyone %}
        <!--<a type="button" class="green btn btn-white btn-primary btn-xs" href="{% url 'maillist_maintain_modify' d.extlist_id d.id %}">{% trans "修改成员权限" %}</a>-->
        <a type="button" class="green btn btn-white btn-primary btn-xs" href="Javascript: setPermit({{ d.id }}, '1')">{% trans "收发" %}</a>
        <a type="button" class="green btn btn-white btn-purple btn-xs" href="Javascript: setPermit({{ d.id }}, '-1')">{% trans "只发" %}</a>
        <a type="button" class="green btn btn-white btn-success btn-xs" href="Javascript: setPermit({{ d.id }}, '0')">{% trans "只收" %}</a>
    {% endif %}
    <a type="button" class="red delete btn btn-white btn-danger btn-xs" href="Javascript: Delete({{ d.id }}, '{{ d.address }}')">{% trans "删除" %}</a>
</td>