{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}
{% block title %} {% trans "权限" %} {% endblock %}
{% block breadcrumb %}
    <li> <a href="#">{% trans "管理员管理" %}</a> </li>
    <li class="active">{% trans "权限" %}</li>
{% endblock %}
{% block page-content %}
    <div class="row">
        <div class="col-lg-12"><h1 class="page-header">{% trans "更新权限信息" %}</h1></div>
    </div>

    <form role="form" action="" method="post">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default" style="margin-bottom: 0px!important;">
                    <div class="panel-heading">{% trans "管理员组信息" %}</div>
                    <div class="panel-body">
                        {% csrf_token %}
                        {{ form|bootstrap }}

                        <button type="submit" class="btn btn-primary btn-sm">{% trans "确认" %}</button>
                        <button class="btn btn-sm" type="reset">{% trans "重置" %}</button>
                        <button type="button" class="btn btn-link btn-sm" onclick="location.href='{% url 'perm_list' %}'">{% trans "取消" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block my_jsblock %}
    <script>
        $(function(){
            var path = "{% url 'perm_list' %}";
            $('#sidebar').find('[href="'+path+'"]').parent().first().addClass('active');
        });
    </script>
{% endblock %}

